In [55]:
import pandas as pd
import numpy as np

from pandas import Series as s, DataFrame as df
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model, metrics 
from sklearn.metrics import r2_score , mean_squared_error 
from scipy import stats

from sklearn.linear_model import LinearRegression , LogisticRegression

from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
 
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sb

#setting configs plot size 5x4 inches and seaborn style whitegrid
%matplotlib inline
rcParams['figure.figsize'] = 5,4
sb.set_style('whitegrid')

from sklearn.preprocessing import LabelEncoder



import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams

import sklearn
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale,normalize, StandardScaler


from sklearn.metrics import confusion_matrix, classification_report , accuracy_score
from collections import Counter as c
from sklearn.preprocessing import LabelEncoder

from pandas import Series as s, DataFrame as df
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model, metrics
from sklearn.neighbors import KNeighborsClassifier as KNN
from sklearn.ensemble import RandomForestClassifier

# differnece sklearn.cross_validation and sklearn.model_selection

from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

from sklearn.externals.six import StringIO 
from sklearn.tree import DecisionTreeClassifier
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

In [3]:
data = pd.read_csv("bank-full_25thAug.csv" , ";")

In [9]:
print(data.shape)
print(data.columns)

(45211, 17)
Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [6]:
print(data.head(2))

   age         job  marital  education default  balance housing loan  contact  \
0   58  management  married   tertiary      no     2143     yes   no  unknown
1   44  technician   single  secondary      no       29     yes   no  unknown

   day month  duration  campaign  pdays  previous poutcome   y
0    5   may       261         1     -1         0  unknown  no
1    5   may       151         1     -1         0  unknown  no

In [13]:
#print(data.info)

In [12]:
#data.isnull().sum()

In [11]:
enc = LabelEncoder()

In [14]:
data["job"] = enc.fit_transform(data["job"])
data["marital"] = enc.fit_transform(data["marital"])
data["education"] = enc.fit_transform(data["education"])
data["default"] = enc.fit_transform(data["default"])
data["housing"] = enc.fit_transform(data["housing"])
data["loan"] = enc.fit_transform(data["loan"])
data["contact"] = enc.fit_transform(data["contact"])

data["month"] = enc.fit_transform(data["month"])
data["poutcome"] = enc.fit_transform(data["poutcome"])
data["y"] = enc.fit_transform(data["y"])

In [15]:
c(data)

Counter({'age': 1,
         'job': 1,
         'marital': 1,
         'education': 1,
         'default': 1,
         'balance': 1,
         'housing': 1,
         'loan': 1,
         'contact': 1,
         'day': 1,
         'month': 1,
         'duration': 1,
         'campaign': 1,
         'pdays': 1,
         'previous': 1,
         'poutcome': 1,
         'y': 1})

In [25]:
#(data.iloc[:,:16])

In [27]:
#data.iloc[:,-1]

In [16]:
data.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0

In [24]:
#plt.scatter((data.iloc[1]) ,data["y"])

In [32]:
# feature engineering
x = data.iloc[:,:16]
y = data.iloc[:,-1]

In [33]:
x.head(2)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3

In [39]:

#print("X  :  " , x)
print()

#print("Y  :  ", y)
print()
#print(x)

x_train, x_test , y_train , y_test = train_test_split(x ,y , test_size = 0.25 , random_state = 10)

#print(y_train)
# print(x_train)

linear_regression_model = LogisticRegression()
#print(linear_regression_model)
#print()

linear_regression_model.fit(x_train,y_train)

predict_x = linear_regression_model.predict(x_test)
#print(" predict_x :  " ,predict_x)

accuracy = accuracy_score(y_test , predict_x )# r2_score is standrad accuracy
print("accuracy : " , accuracy)

accuracy :  0.8915332212686897

In [45]:
print("Training Features Shape:", x_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', x_test.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (33908, 16)
Training Labels Shape: (33908,)
Testing Features Shape: (11303, 16)
Testing Labels Shape: (11303,)

In [69]:
names = ["Logistic Regression",         
         "Decision Tree Classification",
         "KNN",
         "RandomForestClassifier"
        ]

In [70]:
algorithms = [ LogisticRegression(),
              DecisionTreeClassifier(),
              KNN(n_neighbors=3),
              RandomForestClassifier()
              ]

In [71]:
columns_name = ["Model_name", "Random_state",'accuracy_score']
random_state_list_up_to_10 = [0,1,2,3,4,5,6,7,8,9,10]

In [93]:
rows=[]
def addRandomStateForAlgorithm(x,y,names,algorithms,columns_name,random_state_list):    
    for j in range(len(algorithms)):
        model = algorithms[j]
        for i in random_state_list:
            x_train, x_test , y_train , y_test = train_test_split(x ,y , stratify=y, test_size = 0.3 , random_state = i)
            model.fit(x_train,y_train)
            pred_test = model.predict(x_test)
            row = [names[j],i,accuracy_score (y_test,pred_test)]
            rows.append(row)
    models_df = pd.DataFrame(rows)   
    models_df.columns = columns_name
    print(models_df)

In [94]:
addRandomStateForAlgorithm(x, y,names,algorithms,columns_name,random_state_list_up_to_10)

                      Model_name  Random_state  accuracy_score
0            Logistic Regression             0        0.890298
1            Logistic Regression             1        0.889929
2            Logistic Regression             2        0.890666
3            Logistic Regression             3        0.889487
4            Logistic Regression             4        0.890372
5            Logistic Regression             5        0.894132
6            Logistic Regression             6        0.890298
7            Logistic Regression             7        0.892657
8            Logistic Regression             8        0.888602
9            Logistic Regression             9        0.889339
10           Logistic Regression            10        0.891035
11  Decision Tree Classification             0        0.869950
12  Decision Tree Classification             1        0.870392
13  Decision Tree Classification             2        0.871719
14  Decision Tree Classification             3        0.871793
15  Decision Tree Classification             4        0.870835
16  Decision Tree Classification             5        0.875848
17  Decision Tree Classification             6        0.873046
18  Decision Tree Classification             7        0.872751
19  Decision Tree Classification             8        0.874889
20  Decision Tree Classification             9        0.873562
21  Decision Tree Classification            10        0.875258
22                           KNN             0        0.879534
23                           KNN             1        0.877765
24                           KNN             2        0.875553
25                           KNN             3        0.876585
26                           KNN             4        0.876364
27                           KNN             5        0.876806
28                           KNN             6        0.873046
29                           KNN             7        0.875627
30                           KNN             8        0.875332
31                           KNN             9        0.875184
32                           KNN            10        0.875922
33        RandomForestClassifier             0        0.897965
34        RandomForestClassifier             1        0.898850
35        RandomForestClassifier             2        0.899661
36        RandomForestClassifier             3        0.900177
37        RandomForestClassifier             4        0.901283
38        RandomForestClassifier             5        0.901799
39        RandomForestClassifier             6        0.898408
40        RandomForestClassifier             7        0.900619
41        RandomForestClassifier             8        0.900398
42        RandomForestClassifier             9        0.897523
43        RandomForestClassifier            10        0.901209

In [95]:
c(data.y)

Counter({0: 39922, 1: 5289})

In [66]:
c(data)

Counter({'age': 1,
         'job': 1,
         'marital': 1,
         'education': 1,
         'default': 1,
         'balance': 1,
         'housing': 1,
         'loan': 1,
         'contact': 1,
         'day': 1,
         'month': 1,
         'duration': 1,
         'campaign': 1,
         'pdays': 1,
         'previous': 1,
         'poutcome': 1,
         'y': 1})

In [91]:
x_train, x_test , y_train , y_test = train_test_split(x ,y , stratify=y, test_size = 0.25 , random_state = 3)

In [97]:
#right format
confusion_matrix(y_test,predict_x)

array([[9563,  418],
       [1263,   59]])

In [98]:
#wrong format
confusion_matrix(predict_x,y_test)

array([[9563, 1263],
       [ 418,   59]])