In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data',header=None)

In [3]:
data.head(1)

       0      1  2  3      4    5      6
0  vhigh  vhigh  2  2  small  low  unacc

In [4]:
data.columns = ['buying','maint','doors','persons','lug_boot','safety','outcome']

In [5]:
data.head(1)

  buying  maint doors persons lug_boot safety outcome
0  vhigh  vhigh     2       2    small    low   unacc

In [28]:
from collections import Counter as c
c(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [29]:
#data.persons.replace('more','5',inplace=True)

In [30]:
c(data.buying)

Counter({'vhigh': 432, 'high': 432, 'med': 432, 'low': 432})

In [31]:
c(data.maint)

Counter({'vhigh': 432, 'high': 432, 'med': 432, 'low': 432})

In [32]:
c(data.lug_boot)

Counter({'small': 576, 'med': 576, 'big': 576})

In [33]:
c(data.safety)

Counter({'low': 576, 'med': 576, 'high': 576})

In [34]:
c(data.outcome)

Counter({'unacc': 1210, 'acc': 384, 'vgood': 65, 'good': 69})

In [35]:
c(data.persons)

Counter({'2': 576, '4': 576, 'more': 576})

In [36]:
c(data.doors)

Counter({'2': 432, '3': 432, '4': 432, '5more': 432})

In [37]:
data.doors.replace('more','5',inplace=True)

In [11]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()

In [25]:
data.buying = enc.fit_transform(data.buying)
data.maint = enc.fit_transform(data.maint)
data.lug_boot = enc.fit_transform(data.lug_boot)
data.safety = enc.fit_transform(data.safety)

In [26]:
data.head()

   buying  maint doors persons  lug_boot  safety outcome
0       3      3     2       2         2       1   unacc
1       3      3     2       2         2       2   unacc
2       3      3     2       2         2       0   unacc
3       3      3     2       2         1       1   unacc
4       3      3     2       2         1       2   unacc

In [27]:
X = data.loc[:,:'safety']
y = data.outcome

In [28]:
X.head()

   buying  maint doors persons  lug_boot  safety
0       3      3     2       2         2       1
1       3      3     2       2         2       2
2       3      3     2       2         2       0
3       3      3     2       2         1       1
4       3      3     2       2         1       2

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [31]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()

In [32]:
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [33]:
y_pred = model.predict(X_test)

In [36]:
print(accuracy_score(y_test, y_pred))
pd.crosstab(y_test, y_pred)

0.914351851852

col_0    acc  good  unacc  vgood
outcome
acc       81     1     11      0
good       7     8      2      1
unacc      5     0    295      0
vgood      8     1      1     11

In [35]:
from sklearn.metrics import accuracy_score

In [ ]:
#!pip install imblearn

In [45]:
from imblearn.over_sampling import SMOTE
smote_res = SMOTE()
X_train_res, y_train_res = smote_res.fit_sample(X_train,y_train,random_state=10)

TypeError: fit_sample() got an unexpected keyword argument 'random_state'

In [ ]:
Counter(y_train_res)

In [ ]:
Counter(y_train)

In [46]:
model1 = KNeighborsClassifier()
model1.fit(X_train_res,y_train_res)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [47]:
y_pred_res = model1.predict(X_test)

In [44]:
pd.crosstab(y_test,y_pred_res)

col_0    acc  good  unacc  vgood
outcome
acc       80     1     10      2
good       2    14      0      2
unacc      9     1    290      0
vgood      5     1      0     15

In [48]:
pd.crosstab(y_test,y_pred)

col_0    acc  good  unacc  vgood
outcome
acc       81     1     11      0
good       7     8      2      1
unacc      5     0    295      0
vgood      8     1      1     11