In [176]:
import pandas as pd

from collections import Counter
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelEncoder , OneHotEncoder
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import f1_score , accuracy_score , classification_report , confusion_matrix , roc_auc_score

In [177]:

df1 = pd.read_csv("churn_training_telecom.csv")

In [104]:

print(df1.shape)
df1.columns

(3333, 21)

Index(['state', 'account_length', 'area_code', 'phone_number',
       'international_plan', 'voice_mail_plan', 'number_vmail_messages',
       'total_day_minutes', 'total_day_calls', 'total_day_charge',
       'total_eve_minutes', 'total_eve_calls', 'total_eve_charge',
       'total_night_minutes', 'total_night_calls', 'total_night_charge',
       'total_intl_minutes', 'total_intl_calls', 'total_intl_charge',
       'customer_service_calls', 'churn'],
      dtype='object')

In [105]:
#df1.isnull().sum()

In [106]:
df1.head()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [107]:
df1.describe().head(2)
df1.describe().columns
df1.describe().shape

(8, 16)

In [108]:
df1.describe()

,account_length,area_code,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [86]:
#df1.memory_usage()

In [109]:
df1["state"].unique()

array(['KS', 'OH', 'NJ', 'OK', 'AL', 'MA', 'MO', 'LA', 'WV', 'IN', 'RI',
       'IA', 'MT', 'NY', 'ID', 'VT', 'VA', 'TX', 'FL', 'CO', 'AZ', 'SC',
       'NE', 'WY', 'HI', 'IL', 'NH', 'GA', 'AK', 'MD', 'AR', 'WI', 'OR',
       'MI', 'DE', 'UT', 'CA', 'MN', 'SD', 'NC', 'WA', 'NM', 'NV', 'DC',
       'KY', 'ME', 'MS', 'TN', 'PA', 'CT', 'ND'], dtype=object)

In [110]:
#Counter(df1)

In [164]:
#Scaling

data_normalize = df1
data_standrad = df1
norm = MinMaxScaler()
standr = StandardScaler()

In [165]:
if(data_standrad.all == data_normalize.all) :
    print("True")
else :
    print("no")

True

In [113]:
data_standrad.head(2)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False

In [114]:
#data_normalize["state"] = label_enc.fit_transform(data_normalize["state"])

In [163]:
#data_normalize.head(6)

In [116]:
data_normalize.head(2)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.7,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.7,1,False

In [166]:
#Lable Encoding for bool(Convert String and Boolean together to interger) 
#Convert All DataTypes(Object(String), Boolean) to Integer 
le = LabelEncoder()
def convertAllDataTypeslToIntegerLabelEncoding(dataset):
    #original data
    data_original = dataset[:]
    data_tranformed = dataset[:]
    
    
    # Categorical string mask
    categorical_feature_mask = data_tranformed.dtypes==object 
    # filter categorical columns using mask and turn it into a list
    categorical_cols = data_tranformed.columns[categorical_feature_mask].tolist() 
    # apply le on categorical feature columns
    data_tranformed[categorical_cols] = data_tranformed[categorical_cols].apply(lambda col: le.fit_transform(col))
  

    # Categorical boolean mask
    categorical_feature_mask = data_tranformed.dtypes==bool 
    # filter categorical columns using mask and turn it into a list
    categorical_cols = data_tranformed.columns[categorical_feature_mask].tolist() 
    # apply le on categorical feature columns
    data_tranformed[categorical_cols] = data_tranformed[categorical_cols].apply(lambda col: le.fit_transform(col))
    
    return data_tranformed,data_original

In [167]:
data_normalize , data_original = convertAllDataTypeslToIntegerLabelEncoding(data_normalize)
data_standrad , data_original = convertAllDataTypeslToIntegerLabelEncoding(data_standrad)

In [120]:
#data_normalize.head(2)

In [121]:
#data_standrad.head(2)

In [122]:
Counter(data_normalize.churn)

Counter({0: 2850, 1: 483})

In [123]:
#data_original.head(20)

In [124]:
#data_original.info()

In [125]:
data_normalize = norm.fit_transform(data_normalize)

In [127]:
#data_normalize.shape

In [128]:
#data_normalize.columns

In [132]:
plt.scatter(df1)
plt.show

TypeError: scatter() missing 1 required positional argument: 'y'

In [168]:
x = data_normalize.iloc[:,0:-1]
#y = df1.loc[:,"churn"]
y = data_normalize.iloc[:,-1]

In [169]:
x.shape

(3333, 20)

In [170]:
x.head(2)

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,total_eve_minutes,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,customer_service_calls
0,16,128,415,1926,0,1,25,265.1,110,45.07,197.4,99,16.78,244.7,91,11.01,10.0,3,2.7,1
1,35,107,415,1575,0,1,26,161.6,123,27.47,195.5,103,16.62,254.4,103,11.45,13.7,3,3.7,1

In [171]:
y.shape

(3333,)

In [172]:
x_train, x_test , y_train, y_test =  train_test_split(x,y,test_size =0.2)

In [173]:
lm = LogisticRegression()

In [174]:
lm.fit(x_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [175]:
predict_x = lm.predict(x_test)

In [179]:
accuracy = accuracy_score(y_test, predict_x)
print("accuracy   ", accuracy)

accuracy    0.8650674662668666

In [180]:
f1_score = f1_score(y_test, predict_x)
print("f1_score  ", f1_score)

f1_score   0.296875

In [181]:
confusion_matrix = confusion_matrix(y_test, predict_x)
print("confusion_matrix  ", confusion_matrix)

confusion_matrix   [[558  19]
 [ 71  19]]

In [184]:
confusion_matrix_new = pd.crosstab(y_test, predict_x)
print("confusion_matrix_new  ", confusion_matrix_new)

confusion_matrix_new   col_0    0   1
churn
0      558  19
1       71  19

In [182]:
classification_report = classification_report(y_test, predict_x)
print("classification_report  ", classification_report)

classification_report                precision    recall  f1-score   support

          0       0.89      0.97      0.93       577
          1       0.50      0.21      0.30        90

avg / total       0.83      0.87      0.84       667

In [183]:
roc_auc_score = roc_auc_score(y_test, predict_x)
print("roc_auc_score  ", roc_auc_score)

roc_auc_score   0.5890910841517427

In [185]:
classification_report

'             precision    recall  f1-score   support\n\n          0       0.89      0.97      0.93       577\n          1       0.50      0.21      0.30        90\n\navg / total       0.83      0.87      0.84       667\n'

In [186]:
Counter(df1["churn"])

Counter({False: 2850, True: 483})

In [187]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
state                     3333 non-null object
account_length            3333 non-null int64
area_code                 3333 non-null int64
phone_number              3333 non-null object
international_plan        3333 non-null object
voice_mail_plan           3333 non-null object
number_vmail_messages     3333 non-null int64
total_day_minutes         3333 non-null float64
total_day_calls           3333 non-null int64
total_day_charge          3333 non-null float64
total_eve_minutes         3333 non-null float64
total_eve_calls           3333 non-null int64
total_eve_charge          3333 non-null float64
total_night_minutes       3333 non-null float64
total_night_calls         3333 non-null int64
total_night_charge        3333 non-null float64
total_intl_minutes        3333 non-null float64
total_intl_calls          3333 non-null int64
total_intl_charge         3333 non-null float64
customer_service_calls    3333 non-null int64
churn                     3333 non-null bool
dtypes: bool(1), float64(8), int64(8), object(4)
memory usage: 524.1+ KB

In [193]:
x_normalize = norm.fit_transform(x)
x_standard = standr.fit_transform(x)

In [194]:
print(x_normalize)

[[0.32       0.52479339 0.06862745 ... 0.15       0.5        0.11111111]
 [0.7        0.43801653 0.06862745 ... 0.15       0.68518519 0.11111111]
 [0.62       0.56198347 0.06862745 ... 0.25       0.60925926 0.        ]
 ...
 [0.78       0.11157025 1.         ... 0.3        0.70555556 0.22222222]
 [0.12       0.75619835 1.         ... 0.5        0.25       0.22222222]
 [0.84       0.30165289 0.06862745 ... 0.2        0.68518519 0.        ]]

In [195]:
x_standard

array([[-0.6786493 ,  0.67648946, -0.52360328, ..., -0.60119509,
        -0.0856905 , -0.42793202],
       [ 0.6031696 ,  0.14906505, -0.52360328, ..., -0.60119509,
         1.2411686 , -0.42793202],
       [ 0.33331299,  0.9025285 , -0.52360328, ...,  0.21153386,
         0.69715637, -1.1882185 ],
       ...,
       [ 0.87302621, -1.83505538,  1.71881732, ...,  0.61789834,
         1.3871231 ,  0.33235445],
       [-1.35329082,  2.08295458,  1.71881732, ...,  2.24335625,
        -1.87695028,  0.33235445],
       [ 1.07541867, -0.67974475, -0.52360328, ..., -0.19483061,
         1.2411686 , -1.1882185 ]])

In [196]:
x_train_n, x_test_n , y_train_n, y_test_n =  train_test_split(x_normalize,y,test_size =0.2)

In [205]:
lm_norm = LogisticRegression()
lm_norm.fit(x_train_n, y_train_n)
predict_x_norm = lm_norm.predict(x_test_n)
accuracy_score_norm  = accuracy_score(y_test_n, predict_x_norm) 
print(accuracy_score_norm)

0.848575712143928

In [203]:
x_train_t, x_test_t , y_train_t, y_test_t =  train_test_split(x_standard,y,test_size =0.2)

In [207]:
lm_standard = LogisticRegression()
lm_standard.fit(x_train_n, y_train_n)
predict_x_standard = lm_standard.predict(x_test_t)
accuracy_score_standard  = accuracy_score(y_test_t, predict_x_standard) 
print(accuracy_score_standard)

0.848575712143928

In [208]:
pd.crosstab(y_test_n, predict_x_norm)

col_0    0   1
churn
0      556  18
1       83  10

In [209]:
pd.crosstab(y_test_t, predict_x_standard)

col_0    0   1
churn
0      510  67
1       34  56