# Data Types

## There are eight kinds of types supported by PyTables:

- bool: Boolean (true/false) types. Supported precisions: 8 (default) bits.
- int: Signed integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- uint: Unsigned integer types. Supported precisions: 8, 16, 32 (default) and 64 bits.
- float: Floating point types. Supported precisions: 16, 32, 64 (default) bits and extended precision floating point (see note on floating point types).
- complex: Complex number types. Supported precisions: 64 (32+32), 128 (64+64, default) bits and extended precision complex (see note on floating point types).
- string: Raw string types. Supported precisions: 8-bit positive multiples.
- time: Data/time types. Supported precisions: 32 and 64 (default) bits.
- enum: Enumerated types. Precision depends on base type.

In [4]:
# bool, int, float, str 
# python case sensitive
a = True
a

True

In [10]:
#Auto TypeCasting
3 + 4.5

7.5

In [11]:
#Bool -> int -> float -> str

In [5]:
z = True
type(z)

bool

In [6]:
name = 'ashok'
name

'ashok'

# Type Casting

In [12]:
a = 3.4
type(a)

float

In [14]:
#forced / manual typecasting
int(a)

3

In [15]:
#auto type casting
5 + 6.7

11.7

In [16]:
# bool --> int --> float --->str

In [ ]:
a= 3
b = 4.5
print(type(a))
print(type(b))

In [ ]:
a + int(b)

In [ ]:
3 + int('4')

In [19]:
# True -> 1, False -> 0
False + 4

4

In [24]:
#Anything not zero is taken as booleon True
bool(-18)

True

In [28]:
3 + int('6')

9

In [29]:
3.5 + bool(-18) + int('3')

7.5

In [ ]:
name = "ashok"
type(name)

In [ ]:
type(a)

In [ ]:
b = 4.5

In [ ]:
type(b)

In [ ]:
z = True

In [ ]:
type(z)

In [ ]:
a = 3
b = 5.4

In [ ]:
c = a+b
c

In [ ]:
type(c)

In [ ]:
3.0 + False

In [ ]:
int(3.4)

In [ ]:
float(3)

In [ ]:
bool(-18.9)

In [ ]:
int(3.4 + bool(-20)+int(8.4))

In [35]:
a = "I am a Data Scientist"
b = 'I am Architect'
type(a)

str

In [39]:
a

'I am a Data Scientist'

In [40]:
# :  is a slicing operator
a[7:11]

'Data'

In [41]:
a[7:]

'Data Scientist'

In [42]:
a[:11]

'I am a Data'

In [ ]:
print(a)
bool(a)

In [ ]:
d = '32'
print(d)
type(d)

In [ ]:
float(d)

In [ ]:
b = 0
bool(b)

In [ ]:
3 + 2.5

In [ ]:
int('3') + 6.7 + bool("Me")

In [ ]:
a = 3
b = 5.9
a+b

In [ ]:
b = 3.9
c = False
b+c

In [ ]:
d = '3'
d
a= 6
a+int(d)

In [ ]:
a=3.5
b=5
print(type(a))
print(type(b))

In [ ]:
int(a) +b

In [ ]:
bool(-10) * 3

In [ ]:
z = False
a*z

In [36]:
message = "I am a DataScientist"
len(message)

20

In [40]:
message[10:3]

''

In [ ]:
message[5:10]

In [ ]:
message[45:34]

In [ ]:
This is to test

In [ ]:
a='I am a Data Scientist'
type(a)

In [ ]:
c = 20/6
c

In [ ]:
d = 'This is interesting'
d
len(d)

In [ ]:
type(3)
type(4.0)

In [41]:
print(type(2))  # returns 'int’ 
print(type(2.0)) # returns 'float’ 
print(type('two')) # returns 'str’ 
print(type(True)) # returns 'bool’ 
print(type(None)) # returns 'NoneType'

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [ ]:
a=3.0
type(a)

In [ ]:
a

In [43]:
import datetime

In [44]:
datetime.date.today()

datetime.date(2018, 7, 19)

In [45]:
tday = datetime.date.today()
tday

datetime.date(2018, 7, 19)

In [46]:
type(tday)

datetime.date

In [51]:
someday = datetime.date(2019,10,9)

In [52]:
someday

datetime.date(2019, 10, 9)

In [56]:
print(someday - tday)

447 days, 0:00:00

In [48]:
datetime.date.today()

datetime.date(2018, 6, 30)

In [49]:
import datetime as dt
dt.date.today()

datetime.date(2018, 6, 30)

In [50]:
from datetime import date

In [51]:
date.today()

datetime.date(2018, 6, 30)

In [ ]:
print(dt.date.today())

In [ ]:
from datetime import date

In [53]:
a = 3
type(a)

int

In [59]:
td = date.today()
print(td)
td.month

2018-06-30

6

In [ ]:
td = date.today()

In [58]:
type(td)

datetime.date

In [60]:
a = '2018-7-20'

In [61]:
type(a)

str

In [64]:
from datetime import date
someday = date(2018,7,20)

In [63]:
print(someday)

2018-07-20

In [65]:
print(someday - td)

20 days, 0:00:00

In [ ]:
someday = dt.date(2016,5,25)

In [ ]:
someday.isoweekday()

In [ ]:
date.today() + dt.timedelta(hours=40)

In [ ]:
today = dt.date.today()
today
startdate = date(2018,1,1)

In [ ]:
print(today-startdate)

In [ ]:
from datetime import date
today = date.today()

In [ ]:
from datetime import date
from datetime import datetime

today = date.today()
print(dt.datetime.now())

In [ ]:
td + dt.timedelta(days=100, hours=48)

In [ ]:
from datetime import date
day1 = date(2010, 6, 20)

In [ ]:
day100 = today + dt.timedelta(days=100)

In [ ]:
day100.isoweekday()

In [ ]:
import datetime as dt
day1 = date(2010, 6, 20)
print(day1)

newdate = day1 + dt.timedelta(hours=10,minutes=40)

In [ ]:

import datetime

otherday = day1 + datetime.timedelta(days=400)
print(otherday)

my_bday = date(1978, 6, 10)

print(date.today()-my_bday)

In [ ]:
my_birthday = date(today.year, 6, 24)
my_birthday = my_birthday.replace(year=today.year + 1)
print(my_birthday)

time_to_birthday = abs(my_birthday - today)
print(time_to_birthday.days)

In [ ]:
print(date.today())
print(date.weekday(date.today()))
print(date.isoweekday(date.today()))
print(date.today())

# 740 660 9000

date.today()

# Math Operators

In [66]:
print(10 + 4) # add (returns 14) 
print(10 - 4) # subtract (returns 6) 
print(10 * 4) # multiply (returns 40) 
print(10**4) # exponent (returns 10000) 
print(10 / 4) # divide (returns 2.5) 
print(5 % 4) # modulo (returns 1) - also known as the remainder

14
6
40
10000
2.5
1

# Logical / Comparision Operators

In [67]:
%pwd

'/Volumes/GoogleDrive/My Drive/DATAMITES/CONTENT/CORE/CDS/CDS_scripts'

In [12]:
# comparisons (these return True) 
print(5 > 3 )
print(5 >= 3)
print(5 != 5)
print(5 == 5) # boolean operations (these return True) 

# evaluation order: not, and, or

True
True
False
True

In [69]:
(5>3) or (10>12)

True

In [70]:
print(5 > 3 and 6 < 3 )
print(5 > 3 or 5 < 3 )

False
True

In [71]:
True == bool(23)

True

In [73]:
(5 >= 3 or 6 > 100) and (True == bool(23))

True

In [75]:
 True and 18.9

18.9

# Conditional Statements

In [13]:
if (False):
    print("This is IF block")
else :
    print("This is Else Block")

This is Else Block

In [14]:

if (5<3) :
    print("True block statement 1")
    print("True block statement 2")
    print("True block statement 3")
else:
    print("False block")

False block

In [15]:
x = 0
if (x > 0) :
    print("X is Positive")

elif (x<0):
    print("X is Negative")   
else:
    print("X is ZERO")

X is ZERO

In [16]:
x=-100

if ((x>0) or (x==-100)):
    print("X is positive Value or -100")
    print("I am if loop")
elif (x<0):
    print("I am in else if block")
    print("X is negative")
else:
    print("X is Zero")
    
print("I am out of IF looP")

X is positive Value or -100
I am if loop
I am out of IF looP

In [17]:
x = 6

if x%2 == 0 :
    print(x, " is even number")
    print("hello..")
else :
    print(x, " is ODD number")

print("this is out of IF else block")

6  is even number
hello..
this is out of IF else block

In [ ]:
x = -20
# if/elif/else statement
if x > 0:
    print('positive') 
    print('hello')
elif x == 0: 
    print('zero') 
else: 
    print('negative') 
print("I am out of IF block")

In [ ]:
# single-line if statement (sometimes discouraged) 
x=5
if x > 0: print('positive')

# Lists
 Python lists are very flexible and can hold completely heterogeneous, arbitrary data, and they can be appended to very efficiently.

In [21]:
b = [3,5,7,88,99]
b

[3, 5, 7, 88, 99]

In [23]:
print(b[2] ,b[0]  ,b[1]
)

7 3 5

In [28]:
a = [3,4.0,"Hi me?",True, 6,[5,"I am another list"]]
a

[3, 4.0, 'Hi me?', True, 6, [5, 'I am another list']]

In [81]:
type(a)

list

In [29]:
a

[3, 4.0, 'Hi me?', True, 6, [5, 'I am another list']]

In [30]:
a[5]

[5, 'I am another list']

In [86]:
a[5][1]

'I am another list'

In [31]:
a[2]

'Hi me?'

In [32]:
a[1]

4.0

In [33]:
a[1][0]

TypeError: 'float' object is not subscriptable

In [34]:
my_list = [3,4,15,5.9]
print(my_list)
type(my_list)

[3, 4, 15, 5.9]

list

In [35]:
my_list.sort()
my_list

[3, 4, 5.9, 15]

In [46]:
myfamily = ['mom','dad','me']
myfamily

['mom', 'dad', 'me']

In [47]:
myfamily.extend(['wife','bro','daughter'])
myfamily

['mom', 'dad', 'me', 'wife', 'bro', 'daughter']

In [48]:
myfamily.insert(2,'test_insert')
myfamily

['mom', 'dad', 'test_insert', 'me', 'wife', 'bro', 'daughter']

In [51]:
myfamily.sort(reverse=False) # or myfamily.sort()
myfamily

['bro', 'dad', 'daughter', 'me', 'mom', 'test_insert', 'wife']

In [52]:
myfamily.sort(reverse=True)

In [53]:
myfamily

['wife', 'test_insert', 'mom', 'me', 'daughter', 'dad', 'bro']

In [116]:
myfamily

['wife', 'mom', 'me', 'grandma', 'daughter', 'dad', 'bro']

In [117]:
myfamily

['wife', 'mom', 'me', 'grandma', 'daughter', 'dad', 'bro']

In [54]:
myfamily.pop(3)

'me'

In [56]:
myfamily

['wife', 'test_insert', 'mom', 'daughter', 'dad', 'bro']

In [57]:
myfamily.remove('bro')

In [58]:
myfamily

['wife', 'test_insert', 'mom', 'daughter', 'dad']

In [66]:
family = ['wife', 'test_insert', 'mom', 'me', 'daughter', 'dad', 'bro']
family.extend(['brother','uncle','aunt'])

family

['wife',
 'test_insert',
 'mom',
 'me',
 'daughter',
 'dad',
 'bro',
 'brother',
 'uncle',
 'aunt']

In [60]:
myfamily

['wife', 'test_insert', 'mom', 'daughter', 'dad']

In [62]:
myfamily.append('append_test')
myfamily

['wife', 'test_insert', 'mom', 'daughter', 'dad', 'append_test']

In [ ]:
family.insert(4,"sis")
family

In [67]:
family.pop(5)

'dad'

In [68]:
family

['wife',
 'test_insert',
 'mom',
 'me',
 'daughter',
 'bro',
 'brother',
 'uncle',
 'aunt']

In [ ]:
## properties: ordered, iterable, mutable, can contain multiple data types       
# create an empty list (two ways) 
empty_list = [] 
empty_list = list() 
# create a list 
simpsons = ['homer', 'marge', 'bart']
# examine a list 
print(simpsons[0])        # print element 0 ('homer’) 
print(len(simpsons))    # returns the length (3)
 # modify a list (does not return the list) 
simpsons.append('lisa') # append element to end 
simpsons.extend(['itchy', 'scratchy'])  # append multiple elements to end 
print(simpsons)

In [ ]:
family.remove('me')

In [ ]:
family.remove('me')

In [ ]:
family.pop(2)

In [ ]:
myfamily.sort()

In [ ]:
myfamily

In [ ]:
simpsons.insert(0, 'maggie')  # insert element at index 0 (shifts ˓→everything right) 
print(simpsons)
simpsons.remove('bart')  # searches for first instance and removes it 
print(simpsons)
simpsons.pop(0) # removes element 0 and returns it del
print(simpsons)
simpsons[0] = 'krusty' # replace element 0
print(simpsons)

# Tuples
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [ ]:
# create a tuple 
digits = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
#recommend way to by using tuple function
digits = tuple([0, 1, 'two'])  # create a tuple from a list 
# examine a tuple 
print(digits[2])  # returns ‘two’ 
print(len(digits)) # returns 3 
print(digits.count(0))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1) 

digits.

In [ ]:
# create a tuple 
digits1 = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
# examine a tuple 
print(digits1.count(1))  # counts the number of instances of that value (0) digits.index(1)  # returns the index of the first instance of that value (1) 
len(digits1)

In [ ]:
digits[1]= 'one' #returns an assignment error

In [ ]:
my_tuple = (1,3.0,'works')
my_tuple
my_tuple2 = tuple(["this works too",8,10,True])
type(my_tuple2)

# Strings

In [69]:
# create a string 
s = 'I like you' # examine a string 
s[0] # returns 'I’ 
len(s) # returns 10 
# string slicing like lists
s[:6] # returns 'I like’
s[7:] # returns 'you’
s[-1] # returns 'u'

'u'

In [71]:
s = 'I am a Data Scientist'
s[-9:]

'Scientist'

In [72]:
s = 'I am a Data Scientist'
s[:-9]

'I am a Data '

In [73]:
snew = 'Hello Data Science World'
snew[-5:-2]

'Wor'

In [74]:
s1[6:3]

NameError: name 's1' is not defined

# Dictionaries
Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dictionaries are optimized to retrieve values when the key is known.

In [76]:
# create an empty dictionary (two ways) 
empty_dict = {} 
empty_dict = dict() 
# create a dictionary (two ways) 
my_pro = {'name':'Ashok', 'job':'Data Scientist', 
          'location':"bangalore", "years_exp":17} 
cust_profile = dict(cust_id = 24,name='Anand', age=30, 
                    job=['programmer','CEO','Data Scientist'],
                    location="bangalore", years_Exp=17) 
cust_profile['cust_id']

24

# Sets
A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.

In [80]:
# create an empty set
empty_set = set()
# create a set
lang = {'python', 'r', 'java'} # create a set directly 
snakes = set(['cobra', 'viper', 'python','viper']) # create a set from a list 
print(lang)
print(snakes)

{'python', 'java', 'r'}
{'python', 'cobra', 'viper'}

In [81]:
snakes.union(lang)

{'cobra', 'java', 'python', 'r', 'viper'}

In [131]:
snakes.intersection(lang)

{'python'}

In [ ]:
# examine a set 

lang.intersection(snakes)

In [ ]:
languages.union(snakes)

# Functions

In [89]:
def squareit(x=0):
    if(x==0):
        print("please give a number for squaring")
    else:
        return x**2


squareit(3)

9

In [90]:
#weight in kgs, height in cms.
def bmi(weight,height):
     return weight / (height/100)**2

In [91]:
#weight in kgs, height in cms.
def bmi_test(weight,height = 2):
     return weight / (height/100)**2

In [85]:
def sayhello():
    return print("HELOOOOO")

In [92]:
bmi(74,176)

23.889462809917354

In [93]:
bmi_test(74,176)

23.889462809917354

In [96]:
bmi_test(50) # height take default value = 2

125000.0

In [133]:
sayhello()

HELOOOOO

In [139]:
def c2f(deg):
    return deg*(9/5)+32





def bmi(weight,height):
     return weight / (height/100)**2


bmi(78,182)

23.54788069073783

In [141]:
ban_temp=c2f(23)
ban_temp

73.4

In [153]:
def iseven(x=0):
    if (x==0):
        return print("please provide arg")
    elif (x%2==0):
        return True
    else:
        return False

In [155]:
z = iseven(7)

In [156]:
z

False

In [97]:
# define a function with one argument and no return values 
def print_this(x): print(x) 

print_this(2)

2

# Loops

In [105]:
# alternative for loop (recommended style)
fruits = ['apple', 'banana', 'cherry','mango'] 

for fruit in fruits: 
        print(fruit)

apple
banana
cherry
mango

In [106]:
print(fruit)

mango

In [107]:
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [99]:
for fruit in fruits: 
        print(fruit[0])

a
b
c
m

In [104]:
fruit[0]

'm'

In [161]:
for x in range(10):
    print(x," hello")

0  hello
1  hello
2  hello
3  hello
4  hello
5  hello
6  hello
7  hello
8  hello
9  hello

In [108]:
print(range(10))

range(0, 10)