In [56]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import rcParams

import sklearn
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale,normalize, StandardScaler


from sklearn.metrics import confusion_matrix, classification_report , accuracy_score
from collections import Counter as c
from sklearn.preprocessing import LabelEncoder

from pandas import Series as s, DataFrame as df
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model, metrics
from sklearn.neighbors import KNeighborsClassifier as KNN

In [32]:
#local csv file for iris dataset 
iris = pd.read_csv("iris_dataset.csv" ,";")

In [33]:
#iris ==> DESCR , data, target, feature_names
iris.shape

(150, 5)

In [34]:
iris.columns

Index(['sepal length', 'sepal width', 'petal length', 'petal width', 'names'], dtype='object')

In [35]:
iris.isnull().sum()

sepal length    0
sepal width     0
petal length    0
petal width     0
names           0
dtype: int64

In [45]:
#iris.iloc[:,0:4]

In [36]:
#iris.feature_names

In [38]:
iris.head(2)

   sepal length  sepal width  petal length  petal width        names
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa

In [39]:
enc = LabelEncoder()

In [40]:
iris['names_new_encode'] = enc.fit_transform(iris['names'])

In [41]:
iris.head(2)

,sepal length,sepal width,petal length,petal width,names,names_new_encode
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0

In [43]:
c(iris['names'])

Counter({'Iris-setosa': 50, 'Iris-versicolor': 50, 'Iris-virginica': 50})

In [78]:
X = iris.iloc[:,0:4]
y = iris.iloc[:,-1]

In [80]:
model = KNN()

In [81]:
#X = scale(X) # without scale , accuracy is 0.9777777777777777
#X = scale(X) # with scale , accuracy is 0.9555555555555556

In [82]:

x_train, x_test , y_train , y_test = train_test_split(X ,y , test_size = 0.3 , random_state = 1)

In [83]:
model.fit(x_train,y_train)
x_prediect = model.predict(x_test)
accuracy = accuracy_score(y_test,x_prediect)
accuracy

0.9777777777777777