# Logistic Regression

In [23]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from collections import Counter as c


from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
from imblearn.over_sampling import  SMOTE

In [2]:
import scipy
from scipy.stats import spearmanr

In [3]:
import matplotlib.pyplot as plt
from pylab import rcParams
import seaborn as sb

In [165]:
import sklearn
from sklearn.preprocessing import scale 
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import preprocessing
from sklearn.metrics import classification_report, accuracy_score
from sklearn.neighbors import KNeighborsClassifier

In [61]:
# CAR car acceptability 
# . PRICE overall price 
# . . buying buying price 
# . . maint price of the maintenance 
# . TECH technical characteristics 
# . . COMFORT comfort 
# . . . doors number of doors 
# . . . persons capacity in terms of persons to carry 
# . . . lug_boot the size of luggage boot 
# . . safety estimated safety of the car 



#find columns name

# Attribute Information:

# Class Values: 

# unacc, acc, good, vgood 

# Attributes: 

# buying: vhigh, high, med, low. 
# maint: vhigh, high, med, low. 
# doors: 2, 3, 4, 5more. 
# persons: 2, 4, more. 
# lug_boot: small, med, big. 
# safety: low, med, high.

In [62]:
#Setting up the plot
%matplotlib inline
rcParams['figure.figsize'] = 5, 4
sb.set_style('whitegrid')

In [63]:
data = pd.read_csv('cars.csv')

In [81]:
columns = ["buying","maint","doors" ,"persons","lug_boot","safety","outcome"]

In [82]:
data.head(1)

   buying  maint doors persons  lug_boot  safety  unacc
0       3      3     2       2         2       2      2

In [83]:
#cars.isnull().sum()

In [84]:
data.columns

Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'unacc'], dtype='object')

In [85]:
data.columns = columns

In [87]:
data.head(1)

   buying  maint doors persons  lug_boot  safety  outcome
0       3      3     2       2         2       2        2

In [88]:
data.shape

(1727, 7)

In [101]:
c(data)

Counter({'buying': 1,
         'maint': 1,
         'doors': 1,
         'persons': 1,
         'lug_boot': 1,
         'safety': 1,
         'outcome': 1})

In [125]:
c(data.buying)

Counter({3: 431, 0: 432, 2: 432, 1: 432})

In [126]:
c(data.maint)

Counter({3: 431, 0: 432, 2: 432, 1: 432})

In [127]:
c(data.doors)

Counter({'2': 431, '3': 432, '4': 432, '5more': 432})

In [128]:
data.doors.replace('5more' , '5' , inplace=True)
c(data.doors)

Counter({'2': 431, '3': 432, '4': 432, '5': 432})

In [130]:
c(data.persons)

Counter({'2': 575, '4': 576, 'more': 576})

In [131]:
data.persons.replace('more' , '5' , inplace=True)
c(data.persons)

Counter({'2': 575, '4': 576, '5': 576})

In [132]:
c(data.lug_boot)

Counter({2: 575, 1: 576, 0: 576})

In [133]:
c(data.safety)

Counter({2: 576, 0: 576, 1: 575})

In [134]:
c(data.outcome)

Counter({2: 1209, 0: 384, 3: 65, 1: 69})

In [135]:
data.buying = enc.fit_transform(data.buying)
data.maint = enc.fit_transform(data.maint)
data.lug_boot = enc.fit_transform(data.lug_boot)
data.safety = enc.fit_transform(data.safety)
data.outcome = enc.fit_transform(data.outcome)

In [136]:

data.shape

(1727, 7)

In [137]:
data.head(1)

   buying  maint doors persons  lug_boot  safety  outcome
0       3      3     2       2         2       2        2

In [138]:
x = data.iloc[:,:6]
y = data.iloc[:,-1]

In [139]:
print(x.shape)
print(y.shape)
print(x.columns)
#print(data.iloc[:,-1])

(1727, 6)
(1727,)
Index(['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'], dtype='object')

In [155]:
x_train, x_test , y_train , y_test = train_test_split(x ,y , test_size = 0.3 , random_state = 10 )

In [159]:
#Defining and fitting LogisticRegression
LogReg = LogisticRegression()
LogReg.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [160]:
#Prediction
y_pred = LogReg.predict(x_test)
print(classification_report(y_test, y_pred))
print(metrics.accuracy_score(y_test, y_pred))

             precision    recall  f1-score   support

          0       0.43      0.23      0.30       123
          1       0.00      0.00      0.00        16
          2       0.74      0.94      0.83       358
          3       0.00      0.00      0.00        22

avg / total       0.61      0.70      0.64       519

0.7013487475915221

/Users/rakeshkumar/miniconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [162]:
model = KNeighborsClassifier()
model.fit(x_train,y_train)
#Prediction
y_pred1 = model.predict(x_test)
#print(classification_report(y, y_pred1))
#print(metrics.accuracy_score(y, y_pred1))

In [163]:
pd.crosstab(y_test,y_pred1)

col_0      0  1    2   3
outcome
0        107  1   15   0
1          8  8    0   0
2          5  0  353   0
3          9  1    0  12

In [164]:
print(classification_report(y_test, y_pred1))
print(metrics.accuracy_score(y_test, y_pred1))

             precision    recall  f1-score   support

          0       0.83      0.87      0.85       123
          1       0.80      0.50      0.62        16
          2       0.96      0.99      0.97       358
          3       1.00      0.55      0.71        22

avg / total       0.93      0.92      0.92       519

0.9248554913294798

In [174]:
#!pip install imblearn

In [175]:
smote_res = SMOTE()
x_train_res , y_train_res= smote_res.fit_sample(x_train,y_train)
c(y_train_res)

Counter({2: 851, 0: 851, 1: 851, 3: 851})

Counter({2: 851, 0: 851, 1: 851, 3: 851})

In [173]:
x_train_res

array([[0.        , 0.        , 4.        , 2.        , 2.        ,
        1.        ],
       [1.        , 3.        , 2.        , 5.        , 1.        ,
        1.        ],
       [2.        , 3.        , 4.        , 5.        , 2.        ,
        2.        ],
       ...,
       [2.        , 2.        , 4.        , 4.92218446, 1.        ,
        0.        ],
       [1.        , 0.80562614, 5.        , 4.80562614, 1.        ,
        0.        ],
       [1.        , 2.        , 3.        , 4.69093835, 0.        ,
        0.        ]])