In [5]:
import pandas as pd
import numpy as np

from pandas import Series as s, DataFrame as df
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model, metrics

In [7]:
cars = pd.read_csv('mtcars.csv')

In [8]:
cars.head()

,car_model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [9]:
# feature engineering
x = cars.loc[:,["hp","wt","mpg"]]
y = cars.am

In [26]:
from sklearn.linear_model import LogisticRegression,LogisticRegressionCV

In [19]:
x_train, x_test , y_train , y_test = train_test_split(x ,y , test_size = 0.3 , random_state = 10 )

In [20]:
model =LogisticRegression()

In [21]:
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [22]:
predict_x = model.predict(x_test)
predict_x

array([1, 0, 0, 1, 0, 0, 0, 1, 0, 1])

In [23]:
from sklearn.metrics import accuracy_score , confusion_matrix

In [24]:
accuracy_score(y_test , predict_x)

0.9

In [25]:
confusion_matrix(y_test , predict_x)

array([[6, 1],
       [0, 3]])

In [27]:
model1 = LogisticRegressionCV()

In [28]:
model1.fit(x_train,y_train)

LogisticRegressionCV(Cs=10, class_weight=None, cv=None, dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='ovr', n_jobs=1, penalty='l2', random_state=None,
           refit=True, scoring=None, solver='lbfgs', tol=0.0001, verbose=0)

In [29]:
predict_x_1 = model1.predict(x_test)

In [30]:
accuracy_score(y_test,predict_x_1)

0.9

In [31]:
pd.crosstab(y_test,predict_x_1)

col_0  0  1
am
0      6  1
1      0  3

In [32]:
pd.crosstab(y_test,predict_x)

col_0  0  1
am
0      6  1
1      0  3

In [ ]:
cla