In [1]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np

In [2]:
#Python Pandas - Series
#pandas.Series( data, index, dtype, copy)

'''

data :

data takes various forms like ndarray, list, constants


index :

Index values must be unique and hashable, same length as data. Default np.arrange(n) if no index is passed.

dtype :

dtype is for data type. If None, data type will be inferred

: 
copy

Copy data. Default False

'''

'\n\ndata :\n\ndata takes various forms like ndarray, list, constants\n\n\nindex :\n\nIndex values must be unique and hashable, same length as data. Default np.arrange(n) if no index is passed.\n\ndtype :\n\ndtype is for data type. If None, data type will be inferred\n\n: \ncopy\n\nCopy data. Default False\n\n'

In [3]:
#Create an Empty Series
s = pd.Series()
print (s)

Series([], dtype: float64)

In [4]:
#Create a Series from ndarray
data = np.array(['a','b','c','d'])
s1 = pd.Series(data)
print(s1)

0    a
1    b
2    c
3    d
dtype: object

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
type(pd)

module

In [7]:
type(np)

module

In [8]:
type

type

In [9]:
s2 = pd.Series(data,index=[100,101,102,103])
print (s2)

100    a
101    b
102    c
103    d
dtype: object

In [10]:
#Create a Series from dict
data = {'a' : 0, 'b' : 1, 'c' : 2}
s = pd.Series(data)
print (s)

a    0
b    1
c    2
dtype: int64

In [11]:
data = {'a' : 5, 'b' : 1., 'c' : 20}
s = pd.Series(data)
print(s)

a     5.0
b     1.0
c    20.0
dtype: float64

In [14]:
s = pd.Series(data,index=['b','c','d','a'])
print (s)

b     1.0
c    20.0
d     NaN
a     5.0
dtype: float64

In [15]:
#Create a Series from Scalar
s = pd.Series(5, index=[0, 1, 2, 3])
print (s)

0    5
1    5
2    5
3    5
dtype: int64

In [16]:
s = pd.Series(5., index=[0, 1, 2, 3])
print (s)

0    5.0
1    5.0
2    5.0
3    5.0
dtype: float64

In [17]:
s = pd.Series("5", index=[0, 1, 2, 3])
print (s)

0    5
1    5
2    5
3    5
dtype: object

In [18]:
s = pd.Series('5', index=[0, 1, 2, 3])
print (s)

0    5
1    5
2    5
3    5
dtype: object

In [22]:
#Accessing Data from Series with Position
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve the first element
print   (s[0],s[3],s[2])

1 4 3

In [33]:
print(s['a'],s['d'])

1 4

In [34]:
print(s["a"])

1

In [35]:
print(s['f'])

KeyError: 'f'

In [36]:
print(s[10])

IndexError: index out of bounds

In [37]:
s = pd.Series([1,2,3,4,5,6,7,8,9,10],index = ['a','b','c','d','e','f','g','h','i','j'])

#retrieve the first three element
print (s[:3])

a    1
b    2
c    3
dtype: int64

In [38]:
#retrieve the last three element
print (s[-3:])

h     8
i     9
j    10
dtype: int64

In [39]:
#retrieve the all last data after three element position
print (s[:-3])

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [40]:
#retrieve the all start data after three element position
print (s[3:])

d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [ ]:
# trick
#print (s[lower or min:higher or max]) Means lower to higher or min to max , range must be satisfied
#print (s[3:let]) let , means left has fixed  , so print all after : no of count 3  
#print (s[let : 3]) let , means right has fixed  , so print all before : no of count 3


#print (s[-3:let]) let ,negative means (-left == right )has fixed  , so print all after : no of count 3  
#print (s[let : -3]) let ,negative means (-right == left )has fixed  , so print all before : no of count 3

In [41]:
#retrieve the all first  5 element 
print (s[:5])

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [42]:
#retrieve the all data after psoition  2 element 
print (s[2:])

c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [43]:
#retrieve the data b/w  psoition  2  & 5element 
print (s[2:5])

c    3
d    4
e    5
dtype: int64

In [44]:
print (s[5:5])

Series([], dtype: int64)

In [45]:
print (s[5]) # array always start with 0 position , it will print 6

6

In [46]:
print (s[0]) # array always start with 0 position , it will print 1

1

In [65]:
print (s[-1] , s[-2])

10 9

In [47]:
print (s['b'])

2

In [48]:
print (s['b':])

b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [49]:
print (s[:'b'])

a    1
b    2
dtype: int64

In [53]:
print (s[:-'b'])

TypeError: bad operand type for unary -: 'str'

In [54]:
print (s[-'b':])

TypeError: bad operand type for unary -: 'str'

In [55]:
print (s['b':'d'])

b    2
c    3
d    4
dtype: int64

In [66]:
print (s['d':'b'])

Series([], dtype: int64)

In [56]:
print (s['b':'b'])

b    2
dtype: int64

In [57]:
print (s[2:2])

Series([], dtype: int64)

In [58]:
print (s[2:'e'])

TypeError: cannot do slice indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [60]:
print (s[2:22]) # range is satisfied low to high (value in range)

c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [61]:
print (s[22:2])# range is not  satisfied low to high (value not in range)

Series([], dtype: int64)

In [62]:
print (s[-2:2]) # range is not satisfied low to high (value not in range)

Series([], dtype: int64)

In [63]:
print (s[2:-2]) # range is satisfied low to high (value in range)

c    3
d    4
e    5
f    6
g    7
h    8
dtype: int64

In [64]:
print (s[-2:-2])

Series([], dtype: int64)

In [67]:
print (s[:])

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [73]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print( s )

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [74]:
s = pd.Series([1,2,3,4,5,6],index = ['a','b','c','d','e'])
print( s )

ValueError: Wrong number of items passed 6, placement implies 5

In [75]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e','f'])
print( s )

ValueError: Wrong number of items passed 5, placement implies 6

In [68]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print( s[['a','c','d']] )

a    1
c    3
d    4
dtype: int64

In [70]:

print( s )

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [71]:
print( s[] )

SyntaxError: invalid syntax (<ipython-input-71-87eebfd69bca>, line 1)

In [69]:
print( s['a','c','d'] )

KeyError: ('a', 'c', 'd')

In [77]:
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

#retrieve multiple elements
print (s['f'])

KeyError: 'f'

In [79]:
print (s['b'])

2

In [80]:
print (s[3])

4

In [81]:
print (s[13])

IndexError: index out of bounds

In [85]:
#Python Pandas - DataFrame
#pandas.DataFrame( data, index, columns, dtype, copy)


'''

data :

data takes various forms like ndarray, series, map, lists, dict, constants and also another DataFrame.


index :

For the row labels, the Index to be used for the resulting frame is Optional Default np.arrange(n) if no index is passed.


columns :

For column labels, the optional default syntax is - np.arrange(n). This is only true if no index is passed.


dtype :

Data type of each column.


copy :

This command (or whatever it is) is used for copying of data, if the default is False.


'''

'\n\ndata\n\ndata takes various forms like ndarray, series, map, lists, dict, constants and also another DataFrame.\n\n\nindex\n\nFor the row labels, the Index to be used for the resulting frame is Optional Default np.arrange(n) if no index is passed.\n\n\ncolumns\n\nFor column labels, the optional default syntax is - np.arrange(n). This is only true if no index is passed.\n\n\ndtype\n\nData type of each column.\n\n\ncopy\n\nThis command (or whatever it is) is used for copying of data, if the default is False.\n\n\n'

In [96]:
df = pd.DataFrame()
print( df)

Empty DataFrame
Columns: []
Index: []

In [97]:
#Create a DataFrame from Lists
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

   0
0  1
1  2
2  3
3  4
4  5

In [98]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [99]:
data = [['Alex',10],['Bob',12.],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [100]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age','dummy'])
print (df)

AssertionError: 3 columns passed, passed data had 2 columns

In [92]:
data = np.array(['a','b','c','d','e'])
s = pd.Series(data,index=[100,101,102,103])
print (s)

ValueError: Wrong number of items passed 5, placement implies 4

In [ ]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

In [108]:
#Note  Observe, the dtype parameter changes the type of Age column to floating point.

In [101]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [103]:
data = [['Alex',10],['Bob',12.],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=int)
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [105]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=false)
print(df)

NameError: name 'false' is not defined

In [106]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=)
print(df)

SyntaxError: invalid syntax (<ipython-input-106-6fcda591a426>, line 2)

In [107]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype="false")
print(df)

TypeError: data type "false" not understood

In [110]:
data = [[5,10],[8,12.],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name   Age
0       5  10.0
1       8  12.0
2  Clarke  13.0

In [112]:
data = [[5.3,10],[8,12.],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name   Age
0     5.3  10.0
1       8  12.0
2  Clarke  13.0

In [113]:
data = [[5,10],[8,12.],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=int)
print (df)

     Name  Age
0       5   10
1       8   12
2  Clarke   13

In [114]:
data = [[5,10],[8,12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)

     Name   Age
0       5  10.0
1       8  12.0
2  Clarke  13.0

In [115]:
data = [[5,10],[8,12.],[2,13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=int)
print (df)

   Name  Age
0     5   10
1     8   12
2     2   13

In [117]:
data = [[5,10],[8,12.],[2,13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=int)
print (df)

   Name  Age
0     5   10
1     8   12
2     2   13

In [118]:
data = [[5,10],[8,12.],[2,13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print (df)

   Name   Age
0   5.0  10.0
1   8.0  12.0
2   2.0  13.0

In [119]:
data = [[5,10],[8,12.],[2,13]]
df = pd.DataFrame(data,columns=['Name','Age'],)
print (df)

   Name   Age
0     5  10.0
1     8  12.0
2     2  13.0

In [120]:
data = [[5.,10],[8,12],[2,13]]
df = pd.DataFrame(data,columns=['Name','Age'],)
print (df)

   Name  Age
0   5.0   10
1   8.0   12
2   2.0   13

In [121]:
data = [[5.,10],[8,12.],[2,13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=int)
print (df)

   Name  Age
0     5   10
1     8   12
2     2   13

In [122]:
#Create a DataFrame from Dict of ndarrays / Lists
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

In [123]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28]}
df = pd.DataFrame(data)
print (df)

ValueError: arrays must all be same length

In [124]:
data = {'Name':['Tom'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

ValueError: arrays must all be same length

In [125]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print (df)

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky

In [126]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1'])
print (df)

ValueError: Shape of passed values is (2, 4), indices imply (2, 1)

In [128]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, columns = [1,2,3,4] ,index=['rank1','rank2','rank3','rank4'])
print (df)

         1    2    3    4
rank1  NaN  NaN  NaN  NaN
rank2  NaN  NaN  NaN  NaN
rank3  NaN  NaN  NaN  NaN
rank4  NaN  NaN  NaN  NaN

In [130]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data)
print (df)

        0   1
0    Alex  10
1     Bob  12
2  Clarke  13

In [131]:
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [132]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print (df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [133]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print (df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [136]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
print (data)

[{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]

In [137]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]

#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])

#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])

print (df1)
print (df2)

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [138]:
#Create a DataFrame from Dict of Series

In [139]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [143]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c','d']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

ValueError: Wrong number of items passed 3, placement implies 4

In [144]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c','d']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c'])}

df = pd.DataFrame(d)
print(df)

ValueError: Wrong number of items passed 3, placement implies 4

In [145]:
#Column Selection

In [146]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [148]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df ['two'])

a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [149]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'], dtype=float)}

df = pd.DataFrame(d)
print (df ['two'])

a    1.0
b    2.0
c    3.0
d    4.0
Name: two, dtype: float64

In [150]:
#Column Addition

In [151]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(d)

{'one': a    1
b    2
c    3
dtype: int64, 'two': a    1
b    2
c    3
d    4
dtype: int64}

In [152]:
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [153]:

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [154]:
print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print (df)

Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [155]:
print ("Adding a new column using the existing columns in DataFrame:")
df['five']=df['two']+df['three']

print (df)

Adding a new column using the existing columns in DataFrame:
   one  two  three  four  five
a  1.0    1   10.0  11.0  11.0
b  2.0    2   20.0  22.0  22.0
c  3.0    3   30.0  33.0  33.0
d  NaN    4    NaN   NaN   NaN

In [156]:
#Column Deletion

In [157]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a  1.0   10.0    1
b  2.0   20.0    2
c  3.0   30.0    3
d  NaN    NaN    4

In [158]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'b', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a    1     10    1
b    2     20    2
c    3     30    4

In [159]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'e', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a  1.0   10.0  1.0
b  2.0   20.0  NaN
c  3.0   30.0  4.0
e  NaN    NaN  2.0

In [161]:
d = {'one' : pd.Series([1, 2, 3], index=['f', 'b','c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'e', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a  NaN   10.0  1.0
b  2.0   20.0  NaN
c  3.0   30.0  4.0
e  NaN    NaN  2.0
f  1.0    NaN  NaN

In [194]:
d = {'one' : pd.Series([1, 2, 3], index=['f', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'e', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d,dtype=int)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a  NaN   10.0  1.0
b  2.0   20.0  NaN
c  3.0   30.0  4.0
e  NaN    NaN  2.0
f  1.0    NaN  NaN

In [195]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'e', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d,dtype=int)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a  1.0   10.0  1.0
b  2.0   20.0  NaN
c  3.0   30.0  4.0
e  NaN    NaN  2.0

In [196]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'e', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d,dtype=object)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one three  two
a    1    10    1
b    2    20  NaN
c    3    30    4
e  NaN   NaN    2

In [165]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'b', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d,dtype=int)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a    1     10    1
b    2     20    2
c    3     30    4

In [ ]:
#note : onserve dtype is int , float and object

In [170]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'b', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a    1     10    1
b    2     20    2
c    3     30    4

In [171]:
d = {'one' : pd.Series([1, 2., 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'b', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a  1.0     10    1
b  2.0     20    2
c  3.0     30    4

In [172]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'b', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d,dtype=int)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a    1     10    1
b    2     20    2
c    3     30    4

In [173]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 4], index=['a', 'b', 'c']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

df = pd.DataFrame(d,dtype=float)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a  1.0   10.0  1.0
b  2.0   20.0  2.0
c  3.0   30.0  4.0

In [175]:
#delete column 2types : (1)del df['one] (2) df.pop['one]

In [182]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10,20,30], index=['a','b','c'])}

In [183]:
df = pd.DataFrame(d)
print ("Our dataframe is:")
print (df)

Our dataframe is:
   one  three  two
a  1.0   10.0    1
b  2.0   20.0    2
c  3.0   30.0    3
d  NaN    NaN    4

In [184]:
# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print (df)

Deleting the first column using DEL function:
   three  two
a   10.0    1
b   20.0    2
c   30.0    3
d    NaN    4

In [185]:

# using pop function
print ("Deleting another column using POP function:")
df.pop('two')

Deleting another column using POP function:

a    1
b    2
c    3
d    4
Name: two, dtype: int64

In [186]:
print (df)

   three
a   10.0
b   20.0
c   30.0
d    NaN

In [187]:
#Row Selection, Addition, and Deletion

In [418]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [419]:
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [421]:
print (df.shape)
print (df)

(4, 2)
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [290]:
df = pd.DataFrame(d,dtype=object)
print(df)

   one two
a    1   1
b    2   2
c    3   3
d  NaN   4

In [191]:
df = pd.DataFrame(d,dtype=int)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [192]:
df = pd.DataFrame(d,dtype=object)
print(df)

   one two
a    1   1
b    2   2
c    3   3
d  NaN   4

In [198]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [207]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[0])

one    1.0
two    1.0
Name: a, dtype: float64

In [208]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[5]) # index out of bound

IndexError: single positional indexer is out-of-bounds

In [209]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['b'])

one    2.0
two    2.0
Name: b, dtype: float64

In [211]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['a'])

one    1.0
two    1.0
Name: a, dtype: float64

In [212]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['e']) # index out of bound

KeyError: 'the label [e] is not in the [index]'

In [201]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
#difference b/w loc and iloc

In [214]:
#loc is used for character
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc['c'])

one    3.0
two    3.0
Name: c, dtype: float64

In [215]:
#iloc is used for int
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc[2])

one    3.0
two    3.0
Name: c, dtype: float64

In [216]:
#loc is used for character
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.loc[2])

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [2] of <class 'int'>

In [ ]:
# ix() for both int and string

In [423]:
#iloc is used for int
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df.iloc['a'])

TypeError: cannot do positional indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [a] of <class 'str'>

In [424]:
print (df.ix['a'])
print("*"*90)
print (df.ix[2])

one    1.0
two    1.0
Name: a, dtype: float64
******************************************************************************************
one    3.0
two    3.0
Name: c, dtype: float64

/home/rakesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [223]:
#Slice Rows

In [226]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
    'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [227]:
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [228]:
df = pd.DataFrame(d,dtype=int)
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

In [229]:
df = pd.DataFrame(d,dtype=float)
print (df[2:4])

   one  two
c  3.0  3.0
d  NaN  4.0

In [230]:
df = pd.DataFrame(d,dtype=object)
print (df[2:4])

   one two
c    3   3
d  NaN   4

In [231]:
#Addition of Rows

In [233]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
print (df)

   a  b
0  1  2
1  3  4

In [235]:
print (df2)

   a  b
0  5  6
1  7  8

In [237]:
df = df.append(df2)
print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [238]:
#check column

In [239]:
df = pd.DataFrame([[1, 2], [3, 4]])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])
print (df)

   0  1
0  1  2
1  3  4

In [241]:
print (df2)

   a  b
0  5  6
1  7  8

In [240]:
df = df.append(df2)
print (df)

     0    1    a    b
0  1.0  2.0  NaN  NaN
1  3.0  4.0  NaN  NaN
0  NaN  NaN  5.0  6.0
1  NaN  NaN  7.0  8.0

In [242]:
#check without column

In [246]:
df = pd.DataFrame([[1, 2], [3, 4]])
df2 = pd.DataFrame([[5, 6], [7, 8]])
print (df)

   0  1
0  1  2
1  3  4

In [247]:
print (df2)

   0  1
0  5  6
1  7  8

In [248]:
df = df.append(df2)
print (df)

   0  1
0  1  2
1  3  4
0  5  6
1  7  8

In [249]:
#Deletion of Rows

In [253]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)

print (df)
print ("*"*20)

# Drop rows with label 0
df = df.drop(0)

print (df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8
********************
   a  b
1  3  4
1  7  8

In [252]:
#Note : two rows were dropped because those two contain the same label 0.

In [254]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['c','d'])

df = df.append(df2)

print (df)
print ("*"*80)

# Drop rows with label 0
df = df.drop(0)

print (df)

     a    b    c    d
0  1.0  2.0  NaN  NaN
1  3.0  4.0  NaN  NaN
0  NaN  NaN  5.0  6.0
1  NaN  NaN  7.0  8.0
********************************************************************************
     a    b    c    d
1  3.0  4.0  NaN  NaN
1  NaN  NaN  7.0  8.0

In [256]:
#Python Pandas - Panel
#pandas.Panel(data, items, major_axis, minor_axis, dtype, copy)
'''
data	Data takes various forms like ndarray, series, map, lists, dict, constants and also another DataFrame
items	axis=0
major_axis	axis=1
minor_axis	axis=2
dtype	Data type of each column
copy	Copy data. Default, false

'''
#From 3D ndarray

'\ndata\tData takes various forms like ndarray, series, map, lists, dict, constants and also another DataFrame\nitems\taxis=0\nmajor_axis\taxis=1\nminor_axis\taxis=2\ndtype\tData type of each column\ncopy\tCopy data. Default, false\n\n'

In [260]:
data = np.random.rand(3,4,5)
p = pd.Panel(data)
print (p)

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 4 (major_axis) x 5 (minor_axis)
Items axis: 0 to 2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 4

In [261]:
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
        'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print (p)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [262]:
p = pd.Panel()
print (p)

<class 'pandas.core.panel.Panel'>
Dimensions: 0 (items) x 0 (major_axis) x 0 (minor_axis)
Items axis: None
Major_axis axis: None
Minor_axis axis: None

In [263]:
#Selecting the Data from Panel

In [265]:
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
        'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print (p['Item1'])

          0         1         2
0  1.294276 -0.423403 -0.360337
1  1.038803 -0.493977 -0.184054
2  1.077768 -0.349825 -0.405911
3  1.973951  2.017398  1.083780

In [267]:
'''
head() returns the first n rows(observe the index values). 
The default number of elements to display is five, but you may pass a custom number.
'''

'\nhead() returns the first n rows(observe the index values). \nThe default number of elements to display is five, but you may pass a custom number.\n'

In [271]:
print ("The first two rows of the data series:")
print(s)
print("*"*50)
print (s.head(2))

The first two rows of the data series:
100    a
101    b
102    c
103    d
dtype: object
**************************************************
100    a
101    b
dtype: object

In [272]:
'''
tail() returns the last n rows(observe the index values). 
The default number of elements to display is five, but you may pass a custom number.

'''

'\ntail() returns the last n rows(observe the index values). \nThe default number of elements to display is five, but you may pass a custom number.\n\n'

In [273]:
print ("The last two rows of the data series:")
print (s.tail(2))

The last two rows of the data series:
102    c
103    d
dtype: object

In [275]:
#DataFrame Basic Functionality
'''
T	Transposes rows and columns.
axes	Returns a list with the row axis labels and column axis labels as the only members.
dtypes	Returns the dtypes in this object.
empty	True if NDFrame is entirely empty [no items]; if any of the axes are of length 0.
ndim	Number of axes / array dimensions.
shape	Returns a tuple representing the dimensionality of the DataFrame.
size	Number of elements in the NDFrame.
values	Numpy representation of NDFrame.
head()	Returns the last n rows.
tail()	Returns last n rows.

'''

'\nT\tTransposes rows and columns.\naxes\tReturns a list with the row axis labels and column axis labels as the only members.\ndtypes\tReturns the dtypes in this object.\nempty\tTrue if NDFrame is entirely empty [no items]; if any of the axes are of length 0.\nndim\tNumber of axes / array dimensions.\nshape\tReturns a tuple representing the dimensionality of the DataFrame.\nsize\tNumber of elements in the NDFrame.\nvalues\tNumpy representation of NDFrame.\nhead()\tReturns the last n rows.\ntail()\tReturns last n rows.\n\n'

In [278]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d, columns = ['column1','column2','column3'])
print ("Our data series is:")
print (df)

Our data series is:
Empty DataFrame
Columns: [column1, column2, column3]
Index: []

In [292]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d,index = [3,4,5,6,7,8,9])
print ("Our data series is:")
print (df)

Our data series is:
    Age   Name  Rating
3  23.0    Vin    2.56
4  30.0  Steve    3.20
5  29.0  Smith    4.60
6  23.0   Jack    3.80
7   NaN    NaN     NaN
8   NaN    NaN     NaN
9   NaN    NaN     NaN

In [293]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d,index = [3,4,5,6,7,8,9],dtype=object)
print ("Our data series is:")
print (df)

Our data series is:
   Age   Name Rating
3   23    Vin   2.56
4   30  Steve    3.2
5   29  Smith    4.6
6   23   Jack    3.8
7  NaN    NaN    NaN
8  NaN    NaN    NaN
9  NaN    NaN    NaN

In [295]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
   'Age':pd.Series([25,26,25,23,30,29,23]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print (df)

Our data series is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80

In [294]:
'''
T (Transpose)
Returns the transpose of the DataFrame. The rows and columns will interchange.
'''

'\nT (Transpose)\nReturns the transpose of the DataFrame. The rows and columns will interchange.\n'

In [298]:
print ("The transpose of the data series is:")
print (df.T)

The transpose of the data series is:
           0      1      2     3      4      5     6
Age       25     26     25    23     30     29    23
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [297]:
'''
axes
Returns the list of row axis labels and column axis labels.
'''

'\naxes\nReturns the list of row axis labels and column axis labels.\n'

In [299]:
print ("Row axis labels and column axis labels are:")
print (df.axes)

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index(['Age', 'Name', 'Rating'], dtype='object')]

In [300]:
print ("The first two rows of the data frame is:")
print (df.head(2))

The first two rows of the data frame is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24

In [301]:
print ("The last two rows of the data frame is:")
print (df.tail(2))

The last two rows of the data frame is:
   Age   Name  Rating
5   29  Smith     4.6
6   23   Jack     3.8

In [302]:
#Python Pandas - Descriptive Statistics
#DataFrame  index (axis=0, default), columns (axis=1)

In [303]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print (df)

    Age    Name  Rating
0    25     Tom    4.23
1    26   James    3.24
2    25   Ricky    3.98
3    23     Vin    2.56
4    30   Steve    3.20
5    29   Smith    4.60
6    23    Jack    3.80
7    34     Lee    3.78
8    40   David    2.98
9    30  Gasper    4.80
10   51  Betina    4.10
11   46  Andres    3.65

In [304]:
'''
sum()
Returns the sum of the values for the requested axis. By default, axis is index (axis=0).
'''

'\nsum()\nReturns the sum of the values for the requested axis. By default, axis is index (axis=0).\n'

In [306]:
#defualt or axix = 0 , sum = sum of total all value in a single column (vertical sum or top to bottom)
print(df.sum())

Age                                                     382
Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Rating                                                44.92
dtype: object

In [310]:
#defualt or axix = 0 , sum = sum of total all value in a single column (vertical sum or top to bottom)
print(df.sum(0))

Age                                                     382
Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Rating                                                44.92
dtype: object

In [311]:
#axix = 1 , sum = sum of total all value in a single row(horizontal or right to left)
print(df.sum(1))

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [312]:
'''
mean()
Returns the average value
'''

'\nmean()\nReturns the average value\n'

In [315]:
print(df.mean())

Age       31.833333
Rating     3.743333
dtype: float64

In [316]:
'''
std()
Returns the Bressel standard deviation of the numerical columns.
'''

'\nstd()\nReturns the Bressel standard deviation of the numerical columns.\n'

In [317]:
print (df.std())

Age       9.232682
Rating    0.661628
dtype: float64

In [319]:
'''
Functions & Description
count()	Number of non-null observations
sum()	Sum of values
mean()	Mean of Values
median()	Median of Values
mode()	Mode of values
std()	Standard Deviation of the Values
min()	Minimum Value
max()	Maximum Value
abs()	Absolute Value
prod()	Product of Values
cumsum()	Cumulative Sum
cumprod()	Cumulative Product

'''

'\nFunctions & Description\ncount()\tNumber of non-null observations\nsum()\tSum of values\nmean()\tMean of Values\nmedian()\tMedian of Values\nmode()\tMode of values\nstd()\tStandard Deviation of the Values\nmin()\tMinimum Value\nmax()\tMaximum Value\nabs()\tAbsolute Value\nprod()\tProduct of Values\ncumsum()\tCumulative Sum\ncumprod()\tCumulative Product\n\n'

In [320]:
'''
Summarizing Data
The describe() function computes a summary of statistics pertaining to the DataFrame columns.
'''

'\nSummarizing Data\nThe describe() function computes a summary of statistics pertaining to the DataFrame columns.\n'

In [358]:
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d,dtype=object)


print("#"*90)
print (df)
print("-"*90)
print (df.describe())

##########################################################################################
   Age    Name Rating
0   25     Tom   4.23
1   26   James   3.24
2   25   Ricky   3.98
3   23     Vin   2.56
4   30   Steve    3.2
5   29   Smith    4.6
6   23    Jack    3.8
7   34     Lee   3.78
8   40   David   2.98
9   30  Gasper    4.8
10  51  Betina    4.1
11  46  Andres   3.65
------------------------------------------------------------------------------------------
        Age    Name  Rating
count    12      12    12.0
unique    9      12    12.0
top      30  Andres     3.8
freq      2       1     1.0

In [353]:
#without dtype check carefully
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)

print (df)
print("*"*90)
print (df.describe())

    Age    Name  Rating
0    25     Tom    4.23
1    26   James    3.24
2    25   Ricky    3.98
3    23     Vin    2.56
4    30   Steve    3.20
5    29   Smith    4.60
6    23    Jack    3.80
7    34     Lee    3.78
8    40   David    2.98
9    30  Gasper    4.80
10   51  Betina    4.10
11   46  Andres    3.65
******************************************************************************************
             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [329]:
'''
This function gives the mean, std and IQR values. And, function excludes the character columns and given summary about numeric columns. 'include' is the argument which is used to pass necessary information regarding what columns need to be considered for summarizing. Takes the list of values; by default, 'number'.

object  Summarizes String columns
number  Summarizes Numeric columns
all  Summarizes all columns together (Should not pass it as a list value)
'''

"\nThis function gives the mean, std and IQR values. And, function excludes the character columns and given summary about numeric columns. 'include' is the argument which is used to pass necessary information regarding what columns need to be considered for summarizing. Takes the list of values; by default, 'number'.\n\nobject  Summarizes String columns\nnumber  Summarizes Numeric columns\nall  Summarizes all columns together (Should not pass it as a list value)\n"

In [331]:
#Create a Dictionary of series
d = {'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
   'Lee','David','Gasper','Betina','Andres']),
   'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
   'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

#Create a DataFrame
df = pd.DataFrame(d)
print (df.describe(include=['object']))

          Name
count       12
unique      12
top     Andres
freq         1

In [333]:
#include = all
print (df.describe(include='all'))

              Age    Name     Rating
count   12.000000      12  12.000000
unique        NaN      12        NaN
top           NaN  Andres        NaN
freq          NaN       1        NaN
mean    31.833333     NaN   3.743333
std      9.232682     NaN   0.661628
min     23.000000     NaN   2.560000
25%     25.000000     NaN   3.230000
50%     29.500000     NaN   3.790000
75%     35.500000     NaN   4.132500
max     51.000000     NaN   4.800000

In [334]:
#Python Pandas - Iteration

In [339]:
N=20

df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
    })

N=20

df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Low','Medium','High'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
    })

for col in df:
   print (col)

A
C
D
x
y

In [348]:
for column in df:
   print("*"*90)
   
print (df[column])

******************************************************************************************
******************************************************************************************
******************************************************************************************
******************************************************************************************
******************************************************************************************
0     0.807934
1     0.160201
2     0.410031
3     0.574120
4     0.395158
5     0.994212
6     0.678116
7     0.226112
8     0.183763
9     0.519361
10    0.805176
11    0.529634
12    0.189079
13    0.000407
14    0.392913
15    0.538768
16    0.567072
17    0.162921
18    0.866863
19    0.888854
Name: y, dtype: float64

In [351]:
for column in df:
  
    print (df[column])

print("*"*90)

0    2016-01-01
1    2016-01-02
2    2016-01-03
3    2016-01-04
4    2016-01-05
5    2016-01-06
6    2016-01-07
7    2016-01-08
8    2016-01-09
9    2016-01-10
10   2016-01-11
11   2016-01-12
12   2016-01-13
13   2016-01-14
14   2016-01-15
15   2016-01-16
16   2016-01-17
17   2016-01-18
18   2016-01-19
19   2016-01-20
Name: A, dtype: datetime64[ns]
0       High
1     Medium
2        Low
3       High
4       High
5        Low
6        Low
7        Low
8       High
9     Medium
10    Medium
11    Medium
12      High
13    Medium
14    Medium
15       Low
16      High
17    Medium
18    Medium
19       Low
Name: C, dtype: object
0      95.409249
1      96.455097
2      96.145691
3      92.022717
4      89.558162
5     104.525813
6      95.012372
7      91.633705
8      91.024491
9      82.937405
10    103.805505
11     96.158072
12    108.628870
13     94.342026
14    107.671316
15     83.846568
16    104.143224
17    104.379838
18     99.977315
19    111.488094
Name: D, dtype: float64
0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
Name: x, dtype: float64
0     0.807934
1     0.160201
2     0.410031
3     0.574120
4     0.395158
5     0.994212
6     0.678116
7     0.226112
8     0.183763
9     0.519361
10    0.805176
11    0.529634
12    0.189079
13    0.000407
14    0.392913
15    0.538768
16    0.567072
17    0.162921
18    0.866863
19    0.888854
Name: y, dtype: float64
******************************************************************************************

In [338]:
print(df['A'])

0    2016-01-01
1    2016-01-02
2    2016-01-03
3    2016-01-04
4    2016-01-05
5    2016-01-06
6    2016-01-07
7    2016-01-08
8    2016-01-09
9    2016-01-10
10   2016-01-11
11   2016-01-12
12   2016-01-13
13   2016-01-14
14   2016-01-15
15   2016-01-16
16   2016-01-17
17   2016-01-18
18   2016-01-19
19   2016-01-20
Name: A, dtype: datetime64[ns]

In [359]:
'''
Working with Text Data
1   lower()	Converts strings in the Series/Index to lower case.
2	upper()	Converts strings in the Series/Index to upper case.
3	len()	Computes String length().
4	strip()	Helps strip whitespace(including newline) from each string in the Series/index from both the sides.
5	split(' ')	Splits each string with the given pattern.
6	cat(sep=' ')	Concatenates the series/index elements with given separator.
7	get_dummies()	Returns the DataFrame with One-Hot Encoded values.
8	contains(pattern)	Returns a Boolean value True for each element if the substring contains in the element, else False.
9	replace(a,b)	Replaces the value a with the value b.
10	repeat(value)	Repeats each element with specified number of times.
11	count(pattern)	Returns count of appearance of pattern in each element.
12	startswith(pattern)	Returns true if the element in the Series/Index starts with the pattern.
13	endswith(pattern)	Returns true if the element in the Series/Index ends with the pattern.
14	find(pattern)	Returns the first position of the first occurrence of the pattern.
15	findall(pattern)	Returns a list of all occurrence of the pattern.
16	swapcase	Swaps the case lower/upper.
17	islower()	Checks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean
18	isupper()	Checks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.
19	isnumeric()	Checks whether all characters in each string in the Series/Index are numeric. Returns Boolean.
'''

"\nWorking with Text Data\n1   lower()\tConverts strings in the Series/Index to lower case.\n2\tupper()\tConverts strings in the Series/Index to upper case.\n3\tlen()\tComputes String length().\n4\tstrip()\tHelps strip whitespace(including newline) from each string in the Series/index from both the sides.\n5\tsplit(' ')\tSplits each string with the given pattern.\n6\tcat(sep=' ')\tConcatenates the series/index elements with given separator.\n7\tget_dummies()\tReturns the DataFrame with One-Hot Encoded values.\n8\tcontains(pattern)\tReturns a Boolean value True for each element if the substring contains in the element, else False.\n9\treplace(a,b)\tReplaces the value a with the value b.\n10\trepeat(value)\tRepeats each element with specified number of times.\n11\tcount(pattern)\tReturns count of appearance of pattern in each element.\n12\tstartswith(pattern)\tReturns true if the element in the Series/Index starts with the pattern.\n13\tendswith(pattern)\tReturns true if the element in the Series/Index ends with the pattern.\n14\tfind(pattern)\tReturns the first position of the first occurrence of the pattern.\n15\tfindall(pattern)\tReturns a list of all occurrence of the pattern.\n16\tswapcase\tSwaps the case lower/upper.\n17\tislower()\tChecks whether all characters in each string in the Series/Index in lower case or not. Returns Boolean\n18\tisupper()\tChecks whether all characters in each string in the Series/Index in upper case or not. Returns Boolean.\n19\tisnumeric()\tChecks whether all characters in each string in the Series/Index are numeric. Returns Boolean.\n"

In [360]:
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveSmith'])

print (s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveSmith
dtype: object

In [364]:
print (s.str.lower())
print ("*"*40)
print (s.str.upper())
print ("*"*40)
print (s.str.len())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object
****************************************
0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object
****************************************
0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [377]:
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("Split Pattern:")
print (s.str.split(' '))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
Split Pattern:
0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

In [378]:
print (s.str.cat(sep='_'))

Tom _ William Rick_John_Alber@t

In [379]:
print (s.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

In [381]:
print (s.str.contains(' ')) #checking space is contain or not

0     True
1     True
2    False
3    False
dtype: bool

In [382]:
print (s)
print ("After replacing @ with $:")
print (s.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After replacing @ with $:
0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [386]:
#Repeat the value depends on no of parameters value
print (s.str.repeat(0))
print ("*"*40)
print (s.str.repeat(1))
print ("-"*70)
print (s.str.repeat(4))
print ("#"*90)
print (s.str.repeat(3))
print ("*"*40)
print (s.str.repeat(0))

0
1
2
3
dtype: object
****************************************
0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
----------------------------------------------------------------------
0                                     Tom Tom Tom Tom
1     William Rick William Rick William Rick Willia...
2                                     JohnJohnJohnJohn
3                         Alber@tAlber@tAlber@tAlber@t
dtype: object
##########################################################################################
0                               Tom Tom Tom
1     William Rick William Rick William Rick
2                               JohnJohnJohn
3                      Alber@tAlber@tAlber@t
dtype: object
****************************************
0
1
2
3
dtype: object

In [387]:
print ("The number of 'i's in each string:")
print (s.str.count('i'))
print ("-"*70)
print ("The number of 'r's in each string:")
print (s.str.count('r'))
print ("-"*70)
print ("The number of 'm's in each string:")
print (s.str.count('m'))
print ("-"*70)

The number of 'i's in each string:
0    0
1    3
2    0
3    0
dtype: int64
----------------------------------------------------------------------
The number of 'r's in each string:
0    0
1    0
2    0
3    1
dtype: int64
----------------------------------------------------------------------
The number of 'm's in each string:
0    1
1    1
2    0
3    0
dtype: int64
----------------------------------------------------------------------

In [390]:
print ("Strings that start with 'T':")
print (s.str. startswith ('T'))
print ("-"*70)
print ("Strings that start with 'W':")
print (s.str. startswith ('W'))
print ("-"*70)
print ("Strings that start with 'A':")
print (s.str. startswith ('A'))
print ("-"*70)

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool
----------------------------------------------------------------------
Strings that start with 'W':
0    False
1    False
2    False
3    False
dtype: bool
----------------------------------------------------------------------
Strings that start with 'A':
0    False
1    False
2    False
3     True
dtype: bool
----------------------------------------------------------------------

In [393]:
print(s)
print ("Strings that end with 't':")
print (s.str.endswith('t'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [400]:
#find find(patttern)
print (s.str.find('e'))
print ("-"*70)
print (s.str.find('o'))
print ("-"*70)
print (s.str.find('j'))
print ("-"*70)

0   -1
1   -1
2   -1
3    3
dtype: int64
----------------------------------------------------------------------
0    1
1   -1
2    1
3   -1
dtype: int64
----------------------------------------------------------------------
0   -1
1   -1
2   -1
3   -1
dtype: int64
----------------------------------------------------------------------

In [401]:
#find find(patttern)
print (s.str.find('J'))
print ("-"*70)

0   -1
1   -1
2    0
3   -1
dtype: int64
----------------------------------------------------------------------

In [402]:
#find find(patttern)
print (s.str.find('h'))
print ("-"*70)

0   -1
1   -1
2    2
3   -1
dtype: int64
----------------------------------------------------------------------

In [403]:
#find find(patttern)
print (s.str.find('n'))
print ("-"*70)

0   -1
1   -1
2    3
3   -1
dtype: int64
----------------------------------------------------------------------

In [405]:
#findall : findall(patttern)
print (s.str.findall('n'))
print ("-"*70)

0     []
1     []
2    [n]
3     []
dtype: object
----------------------------------------------------------------------

In [407]:
#findall : findall(patttern)
print (s.str.findall('e'))
print ("-"*70)

0     []
1     []
2     []
3    [e]
dtype: object
----------------------------------------------------------------------

In [408]:
#findall : findall(patttern)
print (s.str.findall('j'))
print ("-"*70)

0    []
1    []
2    []
3    []
dtype: object
----------------------------------------------------------------------

In [409]:
#findall : findall(patttern)
print (s.str.findall('J'))
print ("-"*70)

0     []
1     []
2    [J]
3     []
dtype: object
----------------------------------------------------------------------

In [410]:
#findall : findall(patttern)
print (s.str.findall('i'))
print ("-"*70)

0           []
1    [i, i, i]
2           []
3           []
dtype: object
----------------------------------------------------------------------

In [411]:
print (s.str.swapcase())

0             tOM
1     wILLIAM rICK
2             jOHN
3          aLBER@T
dtype: object

In [412]:
print (s.str.islower())

0    False
1    False
2    False
3    False
dtype: bool

In [413]:
print (s.str.isupper())

0    False
1    False
2    False
3    False
dtype: bool

In [414]:
print (s.str.isnumeric())

0    False
1    False
2    False
3    False
dtype: bool

In [416]:
print (s.shape)

(4,)

In [422]:
#Indexing and Selecting Data
'''
.loc()	Label based
.iloc()	Integer based
.ix()	Both Label and Integer based
'''

'\n.loc()\tLabel based\n.iloc()\tInteger based\n.ix()\tBoth Label and Integer based\n'

In [425]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df) 
print ("*"*90) 
print (df.iloc[2]) 
print ("-"*90) 
print (df.loc['b']) 

print ("#"*90) 
print (df.ix[2]) 

print ("&"*90) 
print (df.ix['b'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
******************************************************************************************
one    3.0
two    3.0
Name: c, dtype: float64
------------------------------------------------------------------------------------------
one    2.0
two    2.0
Name: b, dtype: float64
##########################################################################################
one    3.0
two    3.0
Name: c, dtype: float64
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
one    2.0
two    2.0
Name: b, dtype: float64

/home/rakesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  if sys.path[0] == '':

In [428]:
#Python Pandas - Statistical Functions
#check from here