In [23]:


from sklearn.preprocessing import StandardScaler,scale
from sklearn.neural_network import MLPClassifier,MLPRegressor
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
import pandas as pd

In [2]:
data = pd.read_csv('bank-full.csv',';')

In [3]:
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
enc.fit(data.job)
data.job = enc.transform(data.job)
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,9,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,2,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,1,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
enc.fit(data.default)
data.default = enc.transform(data.default)
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,married,tertiary,0,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,9,single,secondary,0,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,2,married,secondary,0,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,1,married,unknown,0,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,single,unknown,0,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [6]:
enc.fit(data.housing)
data.housing = enc.transform(data.housing)
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,married,tertiary,0,2143,1,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,9,single,secondary,0,29,1,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,2,married,secondary,0,2,1,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,1,married,unknown,0,1506,1,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,single,unknown,0,1,0,no,unknown,5,may,198,1,-1,0,unknown,no

In [7]:
enc.fit(data.loan)
data.loan = enc.transform(data.loan)
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,married,tertiary,0,2143,1,0,unknown,5,may,261,1,-1,0,unknown,no
1,44,9,single,secondary,0,29,1,0,unknown,5,may,151,1,-1,0,unknown,no
2,33,2,married,secondary,0,2,1,1,unknown,5,may,76,1,-1,0,unknown,no
3,47,1,married,unknown,0,1506,1,0,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,single,unknown,0,1,0,0,unknown,5,may,198,1,-1,0,unknown,no

In [8]:
enc.fit(data.marital)
data.marital = enc.transform(data.marital)
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,tertiary,0,2143,1,0,unknown,5,may,261,1,-1,0,unknown,no
1,44,9,2,secondary,0,29,1,0,unknown,5,may,151,1,-1,0,unknown,no
2,33,2,1,secondary,0,2,1,1,unknown,5,may,76,1,-1,0,unknown,no
3,47,1,1,unknown,0,1506,1,0,unknown,5,may,92,1,-1,0,unknown,no
4,33,11,2,unknown,0,1,0,0,unknown,5,may,198,1,-1,0,unknown,no

In [9]:
enc.fit(data.education)
data.education = enc.transform(data.education)

In [10]:
X = data.loc[:,['age','job','education','default','housing','loan','balance']]
y = data.y

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train,X_test, y_train, y_test = train_test_split(X,y,stratify=y, random_state=10)

In [13]:
from sklearn.neighbors import KNeighborsClassifier
model_knn = KNeighborsClassifier(n_neighbors=8)

In [14]:
model_knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=8, p=2,
           weights='uniform')

In [15]:
y_predict = model_knn.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score, confusion_matrix
accuracy_score(y_test,y_predict)

0.8819782358665841

In [17]:
confusion_matrix(y_test,y_predict)

array([[9941,   40],
       [1294,   28]])

In [19]:
from collections import Counter

In [22]:
Counter(y_test)

Counter({'yes': 1322, 'no': 9981})

In [20]:
Counter(data.y)

Counter({'no': 39922, 'yes': 5289})

In [21]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(X)
X_scaled = scaler.transform(X)
# # Fit only to the training data
# scaler.fit(X)
# X_scaled = scaler.transform(X)

In [25]:
#Multi-layer Perceptron (MLP)
mlp = MLPClassifier()
mlp.fit(X,y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(100,), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [26]:
y_predict= mlp.predict(X_test)
#test_scaled =  scaler.transform(x_test)  
y_predict

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype='<U3')

In [27]:
accuracy_score(y_test,y_predict)

0.8830399009112625

In [28]:
print(confusion_matrix(y_test,y_predict))

[[9981    0]
 [1322    0]]

In [29]:
pd.crosstab(y_test,y_predict)

col_0    no
y
no     9981
yes    1322

In [30]:
print(classification_report(y_test,y_predict))

             precision    recall  f1-score   support

         no       0.88      1.00      0.94      9981
        yes       0.00      0.00      0.00      1322

avg / total       0.78      0.88      0.83     11303

/Users/rakeshkumar/miniconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [32]:
#Multi-layer Perceptron (MLP)
mlp1 = MLPClassifier(hidden_layer_sizes=(50,50),batch_size=50,random_state=1)
mlp1.fit(X,y)

MLPClassifier(activation='relu', alpha=0.0001, batch_size=50, beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(50, 50), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=1, shuffle=True,
       solver='adam', tol=0.0001, validation_fraction=0.1, verbose=False,
       warm_start=False)

In [33]:
y_predict= mlp1.predict(X_test)
#test_scaled =  scaler.transform(x_test)  
y_predict

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype='<U3')

In [34]:
accuracy_score(y_test,y_predict)

0.8830399009112625

In [35]:
pd.crosstab(y_test,y_predict)

col_0    no
y
no     9981
yes    1322