In [147]:
a = 10
b = 20
print("a value is {a} , b value is {b}".format(a = a, b = b))

a value is 10 , b value is 20

In [1]:
x="Hello World"

In [5]:
x[2:]

'llo World'

In [6]:
x[-2:]

'ld'

In [9]:
x[:2]

'He'

In [10]:
x[:-2]

'Hello Wor'

In [11]:
x[:]

'Hello World'

In [12]:
x[2:2]

''

In [13]:
x[::-2]

'drWolH'

In [16]:
x[::2]

'HloWrd'

In [14]:
y="Hebom World"

In [15]:
y[::-2]

'drWmbH'

In [19]:
z1 = "abcdefghi" #len = 9

# .

In [20]:
z1[::2]

'acegi'

In [21]:
z1[::-2]

'igeca'

In [22]:
z2 = "abcdefghij" #len = 10

In [23]:
z2[::-2]

'jhfdb'

In [24]:
z2[::2]

'acegi'

In [25]:
l=[1,2,3,4,5,6,7,8]

In [150]:
k=[i for i in l if i%2==0]

In [146]:
k

[2, 4, 4, 4, 2, 10, 8]

In [43]:
f=open("n_file.txt","w")

In [44]:
f.write("hi how are you")

14

In [45]:
file = open("n_file.txt","r")

In [46]:
file.read()

'hi how are youhi how are you'

In [47]:
file.read()

''

In [76]:
doc = open("doc1.txt","w")

In [77]:
for i in range(0,5):
    doc.write(str(i))

In [78]:
%pwd

'/Users/rakeshkumar'

In [81]:
docs = open("doc1.txt","r")

In [82]:
docs.read()

''

In [83]:
s = set()

In [84]:
s.add(4)

In [85]:
s.add("hi")

In [86]:
s.add(True)

In [87]:
s.add(4.5)

In [88]:
s

{4, 4.5, True, 'hi'}

In [89]:
s.add(10)

In [90]:
s.add(6)

In [91]:
s.add(7)

In [93]:
s

{10, 4, 4.5, 6, 7, True, 'hi'}

In [94]:
s

{10, 4, 4.5, 6, 7, True, 'hi'}

In [95]:
s.add(10)

In [96]:
s

{10, 4, 4.5, 6, 7, True, 'hi'}

In [97]:
s.add(100)

In [98]:
s.add(10)

In [99]:
s

{10, 100, 4, 4.5, 6, 7, True, 'hi'}

In [100]:
s.add("hi")

In [101]:
s

{10, 100, 4, 4.5, 6, 7, True, 'hi'}

In [103]:
s.add("h")

In [104]:
s

{10, 100, 4, 4.5, 6, 7, True, 'h', 'hi'}

In [105]:
s1 = set()

In [106]:
s1.add("h")

In [107]:
s1.add(10)

In [108]:
s1.add(True)

In [109]:
s

{10, 100, 4, 4.5, 6, 7, True, 'h', 'hi'}

In [110]:
l = [1,2,3,4,5,5,4,3,4,2,1,10,1,8]

In [112]:
s2=set(l)

In [113]:
s2

{1, 2, 3, 4, 5, 8, 10}

In [114]:
s2.remove(1)

In [115]:
s2

{2, 3, 4, 5, 8, 10}

In [116]:
s2.remove(8)

In [117]:
s2

{2, 3, 4, 5, 10}

In [119]:
s2.pop()

2

In [120]:
s2

{3, 4, 5, 10}

In [121]:
s2.popp()

3

In [122]:
s2

{4, 5, 10}

In [132]:
a4 ={1,4,2,90,4,5}

In [133]:
a4

{1, 2, 4, 5, 90}

In [134]:
a4.add(3)

In [135]:
a4

{1, 2, 3, 4, 5, 90}

In [129]:
b1={}

In [131]:
b1.add(1)

AttributeError: 'dict' object has no attribute 'add'

In [136]:
s3 = {1,2,3,4,5}

In [137]:
s4 = {2,3,6,10}

In [138]:
s3.union(s4)

{1, 2, 3, 4, 5, 6, 10}

In [139]:
s3

{1, 2, 3, 4, 5}

In [140]:
s3.intersection(s4)

{2, 3}

In [141]:
s3.difference(s4)

{1, 4, 5}

In [143]:
s4.difference(s3)

{6, 10}

In [144]:
s4.difference(s4)

set()

In [153]:
m = [j for j in range(0,6) if j%2==0]

In [154]:
m

[0, 2, 4]

In [155]:
l = ['priyanka','priya','pinki','gopal','ajay','preeti']

In [158]:
[var for var in l if var[0] == 'p']

['priyanka', 'priya', 'pinki', 'preeti']

In [159]:
[v for v in "hello"]

['h', 'e', 'l', 'l', 'o']

In [160]:
[v.upper() for v in "hello"]

['H', 'E', 'L', 'L', 'O']

In [161]:
st = 'your worth consists in what you are and not in what you have'

In [162]:
[v for v in st.split() if v[0] == 'w']

['worth', 'what', 'what']

In [169]:
n = int(input('enter no'))

enter no6

In [170]:
fact = 1

In [172]:
for v in range(2,5)
    fact = fact*v

SyntaxError: invalid syntax (<ipython-input-172-96403a35df80>, line 1)

In [168]:
print(fact)

1

In [173]:
sum = lambda a,b : a+b

In [174]:
sum(1,3)

4

In [179]:
a = "hello"
def scope1():
    b='hi'
    print(b)

In [180]:
scope1()

hi

In [195]:
a = "global hello"
def scope2(a):
    a='local hi'
    print(a)

In [196]:
scope2(a)

local hi

In [197]:
a

'global hello'

In [198]:
a1 = "global hello 11"
def scope3(a):
    global a1
    a1='local hi 11'
    print(a1)

In [200]:
scope3(a1)
print(a1)

local hi 11
local hi 11

In [201]:
def outer():
    a = 'outer function'
    def inner():
        a = 'inner function'
        print(a)
        
    inner()
    print(a)

In [202]:
outer()

inner function
outer function

In [206]:
len(list([1,2,3]))

3

In [207]:
def len():
    print('user define')

In [208]:
len()

user define

In [209]:
len(list([1,2,3]))

TypeError: len() takes 0 positional arguments but 1 was given

In [222]:
class Student:
    def __init__(self,name,age=10):
        self.name = name
        self.age = age
        
    def result(self):
        print("name : ", self.name, " age : ",self.age)

In [214]:
ob1 = Student("rakesh",26)

In [219]:
ob1.age

26

In [216]:
print(ob1)

<__main__.Student object at 0x1100734e0>

In [220]:
ob1.result()

name :  rakesh  age :  26

In [223]:
ob2 = Student("raka")

In [225]:
ob2.result()

name :  raka  age :  10

In [226]:
if 2<3:
    print("hello")

hello

In [243]:
def exceptionTest(a,b):
    try:
        result = a/b
    except Exception:
        print("soory , it is exception")
    else:
        print("working is ",result)
    finally:
        print("Always excuted , it does not depends on exception")

In [244]:
exceptionTest(5,0)

soory , it is exception
Always excuted , it does not depends on exception

In [245]:
exceptionTest(15,3)

working is  5.0
Always excuted , it does not depends on exception

In [246]:
def customExceptionTest(a,b):
    try:
        result = a/b
    except Exception as e:
        print(e)
    else:
        print("working is ",result)
    finally:
        print("Always excuted , it does not depends on exception")

In [247]:
customExceptionTest()

TypeError: customExceptionTest() missing 2 required positional arguments: 'a' and 'b'

In [248]:
customExceptionTest(5,0)

division by zero
Always excuted , it does not depends on exception

In [249]:
customExceptionTest(5,"hi")

unsupported operand type(s) for /: 'int' and 'str'
Always excuted , it does not depends on exception

In [5]:
def even_odd(n):
    while(True):
        try:
            n = n
            
        except Exception as e:
            print(e)
        else:
            if(n%2==0):
                print("{x} is even number".format(x=n))
            else:
                print("{x} is odd number".format(x=n))
            break

In [6]:
even_odd(5)

5 is odd number

In [7]:
even_odd(6)

6 is even number

In [8]:
even_odd("5")

TypeError: not all arguments converted during string formatting

In [9]:
#map
def cube_funtion(n):
    return n**3

In [10]:
cube_funtion(3)

27

In [11]:
list_num = [1,2,3,4,5]

In [14]:
list(map(cube_funtion,list_num))

[1, 8, 27, 64, 125]

In [15]:
list(map(cube_funtion(list_num)))

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [21]:
list(map(lambda num : num**2 , list_num))

[1, 4, 9, 16, 25]

In [22]:
list(map(lambda num : num**3 , (1,2,3,4,5,6,7,8,9,10)))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [24]:
list(map(lambda a,b: a+b , [1,2,3],[4,5,6]))

[5, 7, 9]

In [25]:
sum = 0
list_n=[1,2,3,4]
for n in list_n:
    sum+=n
print(sum)

10

In [29]:
#Reduce function
from functools import reduce as r
# r(lambda a,b: a+b, list_n) Or
r(lambda a,b: a+b, list_n)

10

In [32]:
r(lambda a,b: a if a>b else b,[10,15,5,6,20,1])

20

In [33]:
r(lambda a,b: a if a<b else b,[10,15,5,6,20,11])

5

In [34]:
#Filter : it takes params as function and sequences number and return elements for the which funtions is true
list(filter(lambda n:n>0,range(-5,5)))

[1, 2, 3, 4]

In [35]:
list(filter(lambda n: n%2==0,[0,1,2,3,4,5,6,7,8,9,10])) # Even odd number

[0, 2, 4, 6, 8, 10]

In [36]:
#Zip: it is function that takes sequence as parameter and aggregate their elements on each pass
tuple(zip((1,2,3),(4,5,6)))

((1, 4), (2, 5), (3, 6))

In [38]:
list(zip((1,2,3),(4,5,6)))

[(1, 4), (2, 5), (3, 6)]

In [40]:
for pair in zip((2,7,0,40,6,5),(5,0,22,55,1,5)):
    print(max(pair))

5
7
22
55
6
5

In [42]:
for pair in zip((2,7,0,40,6,2),(5,0,22,55,1,5)):
    print(min(pair))

2
0
0
40
1
2

In [43]:
#Enumerate : it is a functuin , that takes sequemce as parameter and adds a counter to elements , return it in a form of enumerate object
tuple(enumerate([1,3,6,7,9,2]))

((0, 1), (1, 3), (2, 6), (3, 7), (4, 9), (5, 2))

In [44]:
for index,value in enumerate((20,60,3,5,8,9,6)):
    if(value>6):
        print("index : ",index,"value : ",value)

index :  0 value :  20
index :  1 value :  60
index :  4 value :  8
index :  5 value :  9

In [66]:
# ALL : all elements are ture , return turn , otherwise return false
# ANY : atleat one element is ture , return turn , otherwise return false

list_test1 = [True,True,True]
all(list_test1)

True

In [67]:
list_test2 = [True,True,False,True]
all(list_test2)

False

In [68]:
list_test3 = [True,False,False,False]
all(list_test3)

False

In [69]:
any(list_test1)

True

In [70]:
any(list_test2)

True

In [71]:
any(list_test3)

True

In [72]:
list_test4 = [False,False,False]
all(list_test4)

False

In [73]:
any(list_test4)

False

In [74]:
#Counter : return no of repeats elements
from collections import Counter as c

In [75]:
word = "abcdeerfmnhacerdwsabbbatpli"
c(word)

Counter({'a': 4,
         'b': 4,
         'c': 2,
         'd': 2,
         'e': 3,
         'r': 2,
         'f': 1,
         'm': 1,
         'n': 1,
         'h': 1,
         'w': 1,
         's': 1,
         't': 1,
         'p': 1,
         'l': 1,
         'i': 1})

In [76]:
list_nums = [1,2,3,5,6,4,32,1,2]
c(list_nums)

Counter({1: 2, 2: 2, 3: 1, 5: 1, 6: 1, 4: 1, 32: 1})

In [77]:
tuple_nums = (1,2,3,5,6,4,32,1,2)
c(tuple_nums)

Counter({1: 2, 2: 2, 3: 1, 5: 1, 6: 1, 4: 1, 32: 1})

In [80]:
#Regular Expression
#method (3 imp) : 1. Match(pattern match beginning with words only)
#2. Search (pattern match with word anywhere )
#3. Findall(return no of match with pattern)
import re

In [87]:
pattern_1 = "python"

word_1 = "python is programming language"
word_2 = "is python programming language"
word_3 = "python123pythonxyzpython987654python1"

In [85]:
print(bool(re.match(pattern_1,word_1)))

True

In [86]:
print(bool(re.match(pattern_1,word_2)))

False

In [88]:
re.findall(pattern_1,word_3)

['python', 'python', 'python', 'python']

In [89]:
#MatchCharacters is .*+?{}^$
pattern_2 ="b.t"
word_4 = "bat_bet_bot_but_boat_b\nt"
re.findall(pattern_2,word_4)

['bat', 'bet', 'bot', 'but']

In [108]:
pattern_3 = "ab*"
pattern_4 = "ab+"
pattern_5 = "ab?"
pattern_6 = "ab{3}"
word_5 = "a_ab_abb_abbbbbb_aaa_b"
re.findall(pattern_3,word_5)

['a', 'ab', 'abb', 'abbbbbb', 'a', 'a', 'a']

In [109]:
re.findall(pattern_4,word_5)

['ab', 'abb', 'abbbbbb']

In [110]:
re.findall(pattern_5,word_5)

['a', 'ab', 'ab', 'ab', 'a', 'a', 'a']

In [111]:
re.findall(pattern_6,word_5)

['abbb']

In [114]:
pattern_7 = "^ab"
pattern_8 = "ab^"
pattern_9 = "$ab"
pattern_10 = "ab$"
word_6 = "abcd"

In [119]:
re.findall(pattern_7,word_6)

['ab']

In [120]:
re.findall(pattern_8,word_6)

[]

In [121]:
re.findall(pattern_9,word_6)

[]

In [123]:
print(re.findall(pattern_10,word_6))

[]

In [127]:
pattern_11 = "[A-Z][0-9]"
str1 = "A+"
str2 = "abc"
str3 = "ABC"

In [128]:
print(bool(re.search(pattern_11,str1)))

False

In [129]:
print(bool(re.search(pattern_11,str2)))

False

In [131]:
print(bool(re.search(pattern_11,str3)))

False

In [140]:
#Special Character
spl_1 = "\d+"  #return digit
spl_2 = "\D+"  #return non-digit
spl_3 = "\s+"  #return list of white spaces
spl_4 = "\S+"  #return list of all non-white spaces
spl_5 = "\w+"  #return list of alpha numberic spaces
spl_6 = "\W+"  #return list of non-alpha numberic spaces
str4 = "welcome to #python online course 007. let's started"

In [141]:
re.findall(spl_1,str4)

['007']

In [142]:
re.findall(spl_2,str4)

['welcome to #python online course ', ". let's started"]

In [143]:
re.findall(spl_3,str4)

[' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [144]:
re.findall(spl_4,str4)

['welcome', 'to', '#python', 'online', 'course', '007.', "let's", 'started']

In [145]:
re.findall(spl_5,str4)

['welcome', 'to', 'python', 'online', 'course', '007', 'let', 's', 'started']

In [146]:
re.findall(spl_6,str4)

[' ', ' #', ' ', ' ', ' ', '. ', "'", ' ']

In [1]:
print(max("who are you"))

y

In [4]:
def pureNumbers(list_a):  
  
    c = 0
    # loop till list is not empty 
    for i,val in enumerate(list_a):              
  
        # Find reverse of current number 
        t = i 
        rev = 0
        while t > 0: 
            #print(i,"   = ",rev)
            rev = rev * 10 + t % 10
            t = t / 10
  
        # compare rev with the current number 
        if rev == i:  
            c = c + 1
    print("Total palindrome nos. are", c)

In [3]:
list_a = [10, 121, 133, 155, 141, 252] 
palindromeNumbers(list_a)

NameError: name 'palindromeNumbers' is not defined

In [5]:
#kases = int(raw_input())
kases = 1
for kase in range(kases):
    #N = int(raw_input())
    N=10
    result = 1
    for i in range(1, N + 1):
        result = result * i
    print(result)

3628800

In [6]:
import math; 

def printPowerSet(set,set_size): 
	
	# set_size of power set of a set 
	# with set_size n is (2**n -1) 
	pow_set_size = (int) (math.pow(2, set_size)); 
	counter = 0;
	j = 0; 
	
	# Run from counter 000..0 to 111..1 
	for counter in range(0, pow_set_size): 
		for j in range(0, set_size): 
			
			# Check if jth bit in the 
			# counter is set If set then 
			# print jth element from set 
			if((counter & (1 << j)) > 0): 
				print(set[j], end = ""); 

		print(""); 

# Driver program to test printPowerSet 
#set = ['a', 'b', 'c']; 
set = [1,2,3,4,5]; 


printPowerSet(set, 5);

1
2
12
3
13
23
123
4
14
24
124
34
134
234
1234
5
15
25
125
35
135
235
1235
45
145
245
1245
345
1345
2345
12345