In [1]:
import numpy as np 
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import matplotlib.pyplot as plt 
%matplotlib inline
from sklearn import metrics

## Load Titanic data set

In [2]:
train_df = pd.read_csv("titanic-train.csv")

In [4]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [13]:
train_df["Age"][5]

nan

In [3]:
print("dataset shape:",train_df.shape)

dataset shape: (891, 12)

In [4]:
train_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
train_df["Cabin"]

0              NaN
1              C85
2              NaN
3             C123
4              NaN
5              NaN
6              E46
7              NaN
8              NaN
9              NaN
10              G6
11            C103
12             NaN
13             NaN
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19             NaN
20             NaN
21             D56
22             NaN
23              A6
24             NaN
25             NaN
26             NaN
27     C23 C25 C27
28             NaN
29             NaN
          ...
861            NaN
862            D17
863            NaN
864            NaN
865            NaN
866            NaN
867            A24
868            NaN
869            NaN
870            NaN
871            D35
872    B51 B53 B55
873            NaN
874            NaN
875            NaN
876            NaN
877            NaN
878            NaN
879            C50
880            NaN
881            NaN
882            NaN
883            NaN
884            NaN
885            NaN
886            NaN
887            B42
888            NaN
889           C148
890            NaN
Name: Cabin, Length: 891, dtype: object

### Set 'CABIN' values to 'Yes' or 'No'. If value is NAN the set CABIN is NO else Yes

In [15]:
def set_Cabin_type(df):
    df.loc[(df.Cabin.notnull()), 'Cabin'] = "Yes"
    df.loc[(df.Cabin.isnull()), 'Cabin'] = "No"
    return df

In [18]:
train_df.Cabin.isnull()

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869    False
870    False
871    False
872    False
873    False
874    False
875    False
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
Name: Cabin, Length: 891, dtype: bool

In [16]:
dataset = set_Cabin_type(train_df)

### Convert 'CABIN' to dummy variable

In [17]:
train_df["Cabin"]

0       No
1      Yes
2       No
3      Yes
4       No
5       No
6      Yes
7       No
8       No
9       No
10     Yes
11     Yes
12      No
13      No
14      No
15      No
16      No
17      No
18      No
19      No
20      No
21     Yes
22      No
23     Yes
24      No
25      No
26      No
27     Yes
28      No
29      No
      ...
861     No
862    Yes
863     No
864     No
865     No
866     No
867    Yes
868     No
869     No
870     No
871    Yes
872    Yes
873     No
874     No
875     No
876     No
877     No
878     No
879    Yes
880     No
881     No
882     No
883     No
884     No
885     No
886     No
887    Yes
888     No
889    Yes
890     No
Name: Cabin, Length: 891, dtype: object

In [7]:
dataset = pd.get_dummies(dataset, columns=["Cabin"])
dataset.drop('Cabin_No', axis=1, inplace=True)

### Convert 'SEX' to dummy variable

In [8]:
dataset = pd.get_dummies(dataset, columns=["Sex"])
dataset.drop('Sex_female', axis=1, inplace=True)

### Fill NA data with median values

In [9]:
dataset["Age"].fillna(dataset["Age"].median(skipna=True), inplace=True)
dataset["Embarked"].fillna(dataset['Embarked'].value_counts().idxmax(), inplace=True)

### Convert dummy variables for 'Embarked' and 'Pclass'

In [10]:
dataset = pd.get_dummies(dataset, columns=["Embarked"])
dataset = pd.get_dummies(dataset, columns=["Pclass"])

In [11]:
dataset.head(3)

,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin_Yes,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,0,1,0,0,1,0,0,1
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,1,0,1,0,0,1,0,0
2,3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,0,0,0,0,1,0,0,1

### Drop colums which do not add any information for prediction

In [12]:
dataset.drop('Name', axis=1, inplace=True)
dataset.drop('PassengerId', axis=1, inplace=True)
dataset.drop('Ticket', axis=1, inplace=True)

In [13]:
X = dataset.iloc[:, 1:12].values
y = dataset.iloc[:,0].values

### Split train and test using sklearn library

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

###  Importing the Keras libraries and packages

In [15]:
import keras
from keras.models import Sequential
from keras.layers import Dense

/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [16]:
# Initialising the ANN
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 20, epochs = 100)

Epoch 1/100
712/712 [==============================] - 0s 426us/step - loss: 0.6903 - acc: 0.6559
Epoch 2/100
712/712 [==============================] - 0s 94us/step - loss: 0.6839 - acc: 0.6657
Epoch 3/100
712/712 [==============================] - 0s 96us/step - loss: 0.6745 - acc: 0.6756
Epoch 4/100
712/712 [==============================] - 0s 94us/step - loss: 0.6618 - acc: 0.6728
Epoch 5/100
712/712 [==============================] - 0s 93us/step - loss: 0.6449 - acc: 0.6756
Epoch 6/100
712/712 [==============================] - 0s 101us/step - loss: 0.6264 - acc: 0.6854
Epoch 7/100
712/712 [==============================] - 0s 110us/step - loss: 0.6147 - acc: 0.6938
Epoch 8/100
712/712 [==============================] - 0s 97us/step - loss: 0.6034 - acc: 0.6882
Epoch 9/100
712/712 [==============================] - 0s 93us/step - loss: 0.5987 - acc: 0.6938
Epoch 10/100
712/712 [==============================] - 0s 93us/step - loss: 0.5922 - acc: 0.7022
Epoch 11/100
712/712 [==============================] - 0s 79us/step - loss: 0.5860 - acc: 0.7051
Epoch 12/100
712/712 [==============================] - 0s 96us/step - loss: 0.5823 - acc: 0.6980
Epoch 13/100
712/712 [==============================] - 0s 100us/step - loss: 0.5743 - acc: 0.7079
Epoch 14/100
712/712 [==============================] - 0s 109us/step - loss: 0.5700 - acc: 0.7037
Epoch 15/100
712/712 [==============================] - 0s 124us/step - loss: 0.5616 - acc: 0.7121
Epoch 16/100
712/712 [==============================] - 0s 97us/step - loss: 0.5573 - acc: 0.7149
Epoch 17/100
712/712 [==============================] - 0s 114us/step - loss: 0.5491 - acc: 0.7107
Epoch 18/100
712/712 [==============================] - 0s 113us/step - loss: 0.5442 - acc: 0.7205
Epoch 19/100
712/712 [==============================] - 0s 95us/step - loss: 0.5365 - acc: 0.7275
Epoch 20/100
712/712 [==============================] - 0s 105us/step - loss: 0.5315 - acc: 0.7261
Epoch 21/100
712/712 [==============================] - 0s 120us/step - loss: 0.5233 - acc: 0.7374
Epoch 22/100
712/712 [==============================] - 0s 127us/step - loss: 0.5176 - acc: 0.7542
Epoch 23/100
712/712 [==============================] - 0s 153us/step - loss: 0.5137 - acc: 0.7486
Epoch 24/100
712/712 [==============================] - 0s 160us/step - loss: 0.5077 - acc: 0.7725
Epoch 25/100
712/712 [==============================] - 0s 106us/step - loss: 0.5037 - acc: 0.7683
Epoch 26/100
712/712 [==============================] - 0s 132us/step - loss: 0.4916 - acc: 0.7865
Epoch 27/100
712/712 [==============================] - 0s 186us/step - loss: 0.4902 - acc: 0.7879
Epoch 28/100
712/712 [==============================] - 0s 135us/step - loss: 0.4833 - acc: 0.7851
Epoch 29/100
712/712 [==============================] - 0s 126us/step - loss: 0.4742 - acc: 0.8034
Epoch 30/100
712/712 [==============================] - 0s 98us/step - loss: 0.4725 - acc: 0.8076
Epoch 31/100
712/712 [==============================] - 0s 101us/step - loss: 0.4726 - acc: 0.8062
Epoch 32/100
712/712 [==============================] - 0s 101us/step - loss: 0.4621 - acc: 0.8090
Epoch 33/100
712/712 [==============================] - 0s 105us/step - loss: 0.4591 - acc: 0.8160
Epoch 34/100
712/712 [==============================] - 0s 112us/step - loss: 0.4544 - acc: 0.8160
Epoch 35/100
712/712 [==============================] - 0s 125us/step - loss: 0.4549 - acc: 0.8090
Epoch 36/100
712/712 [==============================] - ETA: 0s - loss: 0.4646 - acc: 0.790 - 0s 149us/step - loss: 0.4479 - acc: 0.8104
Epoch 37/100
712/712 [==============================] - 0s 135us/step - loss: 0.4536 - acc: 0.8202
Epoch 38/100
712/712 [==============================] - 0s 111us/step - loss: 0.4440 - acc: 0.8090
Epoch 39/100
712/712 [==============================] - 0s 98us/step - loss: 0.4517 - acc: 0.8090
Epoch 40/100
712/712 [==============================] - 0s 104us/step - loss: 0.4523 - acc: 0.8104
Epoch 41/100
712/712 [==============================] - 0s 108us/step - loss: 0.4448 - acc: 0.8160
Epoch 42/100
712/712 [==============================] - 0s 115us/step - loss: 0.4403 - acc: 0.8174
Epoch 43/100
712/712 [==============================] - 0s 104us/step - loss: 0.4420 - acc: 0.8244
Epoch 44/100
712/712 [==============================] - 0s 122us/step - loss: 0.4389 - acc: 0.8160
Epoch 45/100
712/712 [==============================] - 0s 99us/step - loss: 0.4425 - acc: 0.8146
Epoch 46/100
712/712 [==============================] - 0s 103us/step - loss: 0.4373 - acc: 0.8174
Epoch 47/100
712/712 [==============================] - 0s 98us/step - loss: 0.4371 - acc: 0.8160
Epoch 48/100
712/712 [==============================] - 0s 108us/step - loss: 0.4351 - acc: 0.8202
Epoch 49/100
712/712 [==============================] - 0s 113us/step - loss: 0.4371 - acc: 0.8160
Epoch 50/100
712/712 [==============================] - 0s 100us/step - loss: 0.4439 - acc: 0.8020
Epoch 51/100
712/712 [==============================] - 0s 102us/step - loss: 0.4385 - acc: 0.8188
Epoch 52/100
712/712 [==============================] - 0s 121us/step - loss: 0.4366 - acc: 0.8118
Epoch 53/100
712/712 [==============================] - 0s 93us/step - loss: 0.4349 - acc: 0.8188
Epoch 54/100
712/712 [==============================] - 0s 97us/step - loss: 0.4342 - acc: 0.8160
Epoch 55/100
712/712 [==============================] - 0s 87us/step - loss: 0.4364 - acc: 0.8202
Epoch 56/100
712/712 [==============================] - 0s 87us/step - loss: 0.4344 - acc: 0.8132
Epoch 57/100
712/712 [==============================] - 0s 75us/step - loss: 0.4380 - acc: 0.8188
Epoch 58/100
712/712 [==============================] - 0s 87us/step - loss: 0.4349 - acc: 0.8188
Epoch 59/100
712/712 [==============================] - 0s 71us/step - loss: 0.4359 - acc: 0.8146
Epoch 60/100
712/712 [==============================] - 0s 91us/step - loss: 0.4338 - acc: 0.8230
Epoch 61/100
712/712 [==============================] - 0s 98us/step - loss: 0.4294 - acc: 0.8104
Epoch 62/100
712/712 [==============================] - 0s 117us/step - loss: 0.4317 - acc: 0.8216
Epoch 63/100
712/712 [==============================] - 0s 108us/step - loss: 0.4305 - acc: 0.8258
Epoch 64/100
712/712 [==============================] - 0s 87us/step - loss: 0.4326 - acc: 0.8202
Epoch 65/100
712/712 [==============================] - 0s 88us/step - loss: 0.4285 - acc: 0.8272
Epoch 66/100
712/712 [==============================] - 0s 89us/step - loss: 0.4293 - acc: 0.8174
Epoch 67/100
712/712 [==============================] - 0s 89us/step - loss: 0.4400 - acc: 0.8174
Epoch 68/100
712/712 [==============================] - 0s 89us/step - loss: 0.4281 - acc: 0.8230
Epoch 69/100
712/712 [==============================] - 0s 74us/step - loss: 0.4283 - acc: 0.8244
Epoch 70/100
712/712 [==============================] - 0s 72us/step - loss: 0.4261 - acc: 0.8216
Epoch 71/100
712/712 [==============================] - 0s 79us/step - loss: 0.4258 - acc: 0.8272
Epoch 72/100
712/712 [==============================] - 0s 73us/step - loss: 0.4249 - acc: 0.8160
Epoch 73/100
712/712 [==============================] - 0s 84us/step - loss: 0.4287 - acc: 0.8132
Epoch 74/100
712/712 [==============================] - 0s 99us/step - loss: 0.4295 - acc: 0.8188
Epoch 75/100
712/712 [==============================] - 0s 93us/step - loss: 0.4289 - acc: 0.8202
Epoch 76/100
712/712 [==============================] - 0s 97us/step - loss: 0.4270 - acc: 0.8230
Epoch 77/100
712/712 [==============================] - 0s 89us/step - loss: 0.4241 - acc: 0.8216
Epoch 78/100
712/712 [==============================] - 0s 72us/step - loss: 0.4301 - acc: 0.8244
Epoch 79/100
712/712 [==============================] - 0s 90us/step - loss: 0.4266 - acc: 0.8230
Epoch 80/100
712/712 [==============================] - 0s 78us/step - loss: 0.4278 - acc: 0.8216
Epoch 81/100
712/712 [==============================] - 0s 77us/step - loss: 0.4300 - acc: 0.8146
Epoch 82/100
712/712 [==============================] - 0s 76us/step - loss: 0.4248 - acc: 0.8202
Epoch 83/100
712/712 [==============================] - 0s 94us/step - loss: 0.4233 - acc: 0.8230
Epoch 84/100
712/712 [==============================] - 0s 105us/step - loss: 0.4230 - acc: 0.8258
Epoch 85/100
712/712 [==============================] - 0s 121us/step - loss: 0.4235 - acc: 0.8272
Epoch 86/100
712/712 [==============================] - 0s 163us/step - loss: 0.4305 - acc: 0.8258
Epoch 87/100
712/712 [==============================] - 0s 186us/step - loss: 0.4265 - acc: 0.8244
Epoch 88/100
712/712 [==============================] - 0s 186us/step - loss: 0.4226 - acc: 0.8244
Epoch 89/100
712/712 [==============================] - 0s 136us/step - loss: 0.4240 - acc: 0.8258
Epoch 90/100
712/712 [==============================] - 0s 187us/step - loss: 0.4249 - acc: 0.8202
Epoch 91/100
712/712 [==============================] - 0s 123us/step - loss: 0.4221 - acc: 0.8272
Epoch 92/100
712/712 [==============================] - 0s 108us/step - loss: 0.4222 - acc: 0.8244
Epoch 93/100
712/712 [==============================] - 0s 91us/step - loss: 0.4218 - acc: 0.8287
Epoch 94/100
712/712 [==============================] - 0s 120us/step - loss: 0.4197 - acc: 0.8230
Epoch 95/100
712/712 [==============================] - 0s 105us/step - loss: 0.4245 - acc: 0.8258
Epoch 96/100
712/712 [==============================] - 0s 101us/step - loss: 0.4210 - acc: 0.8329
Epoch 97/100
712/712 [==============================] - 0s 99us/step - loss: 0.4235 - acc: 0.8315
Epoch 98/100
712/712 [==============================] - 0s 103us/step - loss: 0.4201 - acc: 0.8258
Epoch 99/100
712/712 [==============================] - 0s 88us/step - loss: 0.4193 - acc: 0.8301
Epoch 100/100
712/712 [==============================] - 0s 92us/step - loss: 0.4226 - acc: 0.8188

kernel_initializer - Defines the way to set the initial random weights of Keras layers.
activation - activation function is used to intoduce non-linear nature to data.
optimizer - Optimazation function like Stocastic GD,adam,RMSprop etc

In [17]:
y_pred = classifier.predict(X_test)

In [18]:
y_pred1 = (y_pred > 0.5)
score = metrics.accuracy_score(y_test, y_pred1)
score

0.8268156424581006